@model IEnumerable<TGIS.Models.PlayerCouponDetail>

@{
    ViewBag.Title = "MyCoupons";
    Layout = "~/Views/Shared/_LayoutPlayerCenter.cshtml";
}

<div class="body-content p-4 ">
    <div class="h5">
        <p>優惠券使用說明：</p>
        <p>請直接至店家並出示頁面，由服務人員按下「使用」以確認使用。</p>
        <p>點擊後優惠券立即失效，玩家切勿自行點擊以免權益喪失！</p>
    </div>
    <hr />
    <table class="table table-bordered table-hover">
        <thead class="table-info">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Coupon.Shop.ShopName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coupon.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExchangedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coupon.BeginDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coupon.ExpireDate)
                </th>
                <th>狀態</th>
            </tr>
        </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coupon.Shop.ShopName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coupon.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExchangedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coupon.BeginDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coupon.ExpireDate)
                    </td>
                    <td>
                        @if (item.IsUsed)
                        {
                            @: 已使用
                        }
                        else if (item.Coupon.ExpireDate < DateTime.Today)
                        {
                            @: 已過期
                        }
                        else if (item.Coupon.BeginDate > DateTime.Now)
                        {
                            @: 尚未開始使用
                        }
                        else
                        {
                            @Html.ActionLink("使用", "UseCoupon", "Coupon", new { couponID = item.CouponID }, new { @class = "btn btn-primary", onclick = "return confirm('確定要使用嗎？\\n此按鈕請由店家人員點選\\n玩家請勿自行點擊以免優惠券失效！')" })
                        }
                    </td>
                </tr>
            }
    </table>
</div>