@using TGIS.Models
@model IEnumerable<TableGame>

@{
    ViewBag.Title = "ShowTableGameList";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}

<style>
    .card-deck .card {
        margin-right: 2px;
        margin-left: 2px;
    }

    .custom-control {
        position: relative;
        min-height: 1.5rem;
        padding-left: 0rem;
    }

    .custom-control-inline {
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-right: 0rem;
    }

    .gameName{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        padding:10px;
        background-color:rgba(0,0,0,.6);
        color:#ffffff;
        font-size:1.2rem;
        opacity:0;
        transition:opacity .3s;
    }

    .card-body:hover .gameName{
        opacity:1;
    }

    @@media (min-width:576px){
             .card-body{
                           height:474px;
             }
         }

    @@media (min-width:768px){
              .card-body{
                           height:107.75px;
             }
         }

    @@media (min-width:992px){
              .card-body{
                           height:157.75px;
             }
         }

    @@media (min-width: 1200px) {
        .card-body{
            height:192.25px;
        }
    }

</style>




<div class="container">
    <div class="row">
        <div class="col-md-2">
            <nav class="text-center">
                <div id="sel" class="text-white">Filter</div>
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <h3><label class="control-label"><strong>Filter</strong></label></h3>
                        <!--<div class="row">-->
                        <p class="col-12 mt-3">Difficulty</p>
                        @foreach (Tag t in ViewBag.DifficultyTagList)
                        {
                            string isChecked = ((string[])(ViewBag.difficultTagIDs)).Contains(t.ID) ? "checked" : "";
                            <div class="custom-control custom-checkbox custom-control-inline col-md-6 text-nowrap">
                                <input type="checkbox" class="custom-control-input" id="defaultInline-@t.ID" name="difficultTagIDs" value="@t.ID" @isChecked>
                                <label class="custom-control-label" for="defaultInline-@t.ID">@t.TagName</label>
                            </div>
                        }
                        <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                        <p class="col-12 mt-3">Category</p>
                        @foreach (Tag t in ViewBag.CategoryTagList)
                        {
                            string isChecked = ((string[])(ViewBag.categoryTagIDs)).Contains(t.ID) ? "checked" : "";
                            <div class="custom-control custom-checkbox custom-control-inline col-md-6">
                                <input type="checkbox" class="custom-control-input" id="defaultInline-@t.ID" name="categoryTagIDs" value="@t.ID" @isChecked>
                                <label class="custom-control-label text-nowrap" for="defaultInline-@t.ID">@t.TagName</label>
                            </div>
                        }

                        <!--</div>-->
                    </div>
                    <input type="submit" class="btn btn-warning" value="Submit">
                }
            </nav>
        </div>



        <div class="col-md-10">


            <nav class="nav">
                <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                <a class="nav-link" href="#">Games</a>
            </nav>


            <div class="card-deck">

                @foreach (TableGame tg in Model)
                {
                    <div class="col-md-3">
                        <div class="card mt-4">
                            <a href="@Url.Action("ShowTableGameDetail", "TableGame", new { tableGameID=tg.ID})">
                                <div class="card-body" style="position:relative">
                                    <img src="@Url.Action("GetPhotoBySourceID", "Photo", new { sourceID=tg.ID, index=0})" class="img-fluid h-100" />
                                    <div class="gameName">
                                        @tg.ChineseName<br />
                                        @tg.EnglishName
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
