@using TGIS.Models
@using PagedList;
@using PagedList.Mvc
@model IPagedList<TableGame>

@{
    ViewBag.Title = "桌遊百科";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}
@section CSS{
    <link href="~/Content/WebSearch.css" rel="stylesheet" />
    <style>
        #TGResultList {
            width: 80%;
        }
        img{
            max-height:100%;
            max-width:100%;
        }
        .img-fix {
            width: 100%;
            height: 12vw;
        }
    </style>
}


<div class="row">
    <aside class="border col-3 ">
        <form id="filter" action="@Url.Action("ShowTableGameListForPlayer", "TableGame")" method="post">
            <h3 class="text-info">桌遊搜尋</h3>
            <div class="form-group row ml-1">
                <label class="col-form-label">從想玩的桌遊搜尋：</label>
                <input id="GameSearch" type="search" placeholder="輸入桌遊名字" class="form-control col-6" aria-label="search" />
                <div id="TGResultList" class="col-10 "></div>
            </div>
            



            <div class="form-group row ml-1">
                <label class="col-form-label">遊玩人數：</label>
                @Html.Editor("minPlayer", new { htmlAttributes = new { @class = "form-control col-3", min = "2", max = "10", @type = "number" } })
                <span>&nbsp;人&nbsp;～&nbsp;</span>
                @Html.Editor("maxPlayer", new { htmlAttributes = new { @class = "form-control col-3", min = "2", max = "20", @type = "number" } })
                <span>&nbsp;人</span>
            </div>
            <div class="form-group row ml-1">
                <label class="col-form-label ">平均遊玩時間：</label>
                @Html.DropDownList("AverageGamePeroid", null, new { @class = "form-control col-7" })
            </div>
            <div class="custom-control custom-checkbox custom-control-inline row ml-1">
                <label class="custom-control-label">不要出現擴充</label>
                @Html.CheckBox("notExtended", new { @class = "custom-control-input check", value = "true" })
            </div>
            <hr />
            <h3 class="text-info">分類搜尋</h3>
            <br />
            <h6 class="ml-1">遊戲難度：</h6>
            <div class="row ml-1">
                @foreach (Tag t in ViewBag.DifficultyTagList)
                {
                    string isChecked = ((string[])(ViewBag.difficultTagIDs)).Contains(t.ID) ? "checked" : "";
                    <div class="custom-control custom-checkbox custom-control-inline col-5 text-nowrap">
                        <input type="checkbox" class="custom-control-input" id="defaultInline-@t.ID" name="difficultTagIDs" value="@t.ID" @isChecked>
                        <label class="custom-control-label" for="defaultInline-@t.ID">@t.TagName</label>
                    </div>
                }
            </div>
            <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
            <br />
            <h6 class="ml-1">遊戲種類：</h6>
            <div class="row ml-1">
                @foreach (Tag t in ViewBag.CategoryTagList)
                {
                    string isChecked = ((string[])(ViewBag.categoryTagIDs)).Contains(t.ID) ? "checked" : "";
                    <div class="custom-control custom-checkbox custom-control-inline col-5">
                        <input type="checkbox" class="custom-control-input" id="defaultInline-@t.ID" name="categoryTagIDs" value="@t.ID" @isChecked>
                        <label class="custom-control-label text-nowrap" for="defaultInline-@t.ID">@t.TagName</label>
                    </div>
                }
            </div>
            <br />
            <h6 class="ml-1">品牌：</h6>
            <div class="row ml-1">
                @foreach (Tag t in ViewBag.BrandTagList)
                {
                    string isChecked = ((string[])(ViewBag.brandTagIDs)).Contains(t.ID) ? "checked" : "";
                    <div class="custom-control custom-checkbox custom-control-inline col-5">
                        <input type="checkbox" class="custom-control-input" id="defaultInline-@t.ID" name="brandTagIDs" value="@t.ID" @isChecked>
                        <label class="custom-control-label text-nowrap" for="defaultInline-@t.ID">@t.TagName</label>
                    </div>
                }
            </div>
            <br />
            <button class="btn btn-info " type="submit">搜尋</button>
            @Html.ActionLink("清除篩選條件", "ShowTableGameListForPlayer", null, new { @class = "btn btn-secondary" })

            @*在過濾桌遊的同時使分頁功能運作*@
            <input type="hidden" name="page" id="page" value="" />

        </form>
    </aside>
    <div class="col-9 p-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">首頁</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">桌遊百科列表</li>
            </ol>
        </nav>
        <div class="row">
            @if (Model.Count == 0)
            {
                <h2>找不到任何相符的項目</h2>
            }

            @foreach (TableGame tg in Model)
            {
                <div class="col-3">
                    <div class="card mt-4 ">
                        <a href="@Url.Action("ShowTableGameDetail", "TableGame", new { tableGameID=tg.ID})">
                            <div class="card-body img-fix row justify-content-center align-content-center ml-0">
                                <img src="@Url.Action("GetPhotoBySourceID", "Photo", new { sourceID=tg.ID, index=0})"  />
                                <div class="gameName">
                                    @tg.ChineseName
                                    <br />
                                    @tg.EnglishName
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>
        <div class="d-flex justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("ShowTableGameListForPlayer", "TableGame", new { page }))
        </div>
    </div>
</div>




@section scripts{
    <script src="~/Scripts/WebSearch.js"></script>

    @* 在過濾桌遊的同時使分頁功能運作 *@
    @if (((bool)ViewBag.IsFilterOn))
    {
        <script src="~/Scripts/pagerFix.js"></script>
    }
}