@model TGIS.Models.TableGame

@{
    ViewBag.Title = "ShowTableGameDetail";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
    int count = 0;
}

<style>

    .gameName{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        padding:10px;
        background-color:rgba(0,0,0,.6);
        color:#ffffff;
        font-size:1.2rem;
        opacity:0;
        transition:opacity .3s;
    }

    .gameName:hover{
        opacity:1;
    }

        .card-body{
        position:relative;
    }

    @@media (min-width:576px) {
        .card-body {
            height: 389px;
        }
    }

    @@media (min-width:768px) {
        .card-body {
            height: 118px;
        }
    }

    @@media (min-width:992px) {
        .card-body {
            height: 178px;
        }
    }

    @@media (min-width: 1200px) {
        .card-body {
            height: 223px;
        }
    }

    .dropdown{
        position:absolute;
        top:0;
        right:0;
    }

    .btn_store_sel{
        position:absolute;
        top:0;
        right:0;
        cursor:pointer;
    }

    .btn_store_sel select{
        -webkit-appearance:none;
        display:none;
    }

    #tgStore_left {
        border-right:7px solid #1a459c;
        border-radius:10px 0 0 10px;
        background-color:#75c383;
        color:#0d2149;
        margin-right:-10px;
        padding:5px;
    }
        #tgStore_right{
        border-radius:0 10px 10px 0;
                background-color:#75c383;
        color:#0d2149;
                padding:5px;
        }
</style>
<div class="row">

    <!--Right Column-->

    <div class="col-12">

        <!--Top Select Column>-->

        <nav class="nav">
            @Html.ActionLink("首頁", "Index", "Home", null, new { @class = "nav-link" })
            @Html.ActionLink("桌遊百科", "ShowTableGameListForPlayer", "TableGame", null, new { @class = "nav-link" })
            <a class="nav-link">@Model.ChineseName</a>
        </nav>
        <div class="row">
            <!--Pictures-->
            <div class="col-md-5">
                <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (int id in ViewBag.photoIDList)
                        {
                            string active = count == 0 ? "active" : "";
                            <div class="carousel-item @active">
                                <img src="@Url.Action("GetPhotoByID", "Photo", new { photoID=id })" class="d-block w-100" />
                            </div>
                            count = 1;
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
            <!--Chinese Name-->
            <div class="col-md-7">
                <div>
                    <span>@Model.ChineseName</span>


                    <!--select store-->
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            我可以去哪玩它?
                        </button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item"><!-- 連結店家頁面 店家名 --></a>
                        </div>
                    </div>
                    <!--select store-->

                </div>
                <!--English Name-->
                <div>
                    <p>@Model.EnglishName</p>
                </div>
                <!--Feature-->
                <div>
                    <p>@Model.Feature</p>
                </div>
            </div>
        </div>

        <!--Rules-->
        <div class="col-md-12">
            <h3>規則說明</h3>
            <p>
                @Model.Rules
            </p>
        </div>

        <!--Relavent Links-->
        <h3>教學連結</h3>
        <div class="card-deck">
            @foreach (var item in Model.RelevantLinks)
            {
                <div class="col-md-3">
                    <div class="card mt-4">
                        <div class="card-body">
                            @*<div class="embed-responsive embed-responsive-16by9">*@
                            <iframe width="100%" height="100%" src="@item.Url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allow="fullscreen"></iframe>
                            @*</div>*@
                        </div>
                    </div>
                </div>
            }

        </div>

        <!--Suggestions-->
        <h3>猜你也喜歡...</h3>
        <div class="card-deck">
            @Html.Action("_GetTableGameCards", new { tableGame = Model })
        </div>

        @using (Html.BeginForm("CreateTGComment", "TGComment", FormMethod.Post))
        {
            <h3>評論</h3>
                    <input id="Text1" type="hidden" name="tId" value="@Model.ID" />
                    <textarea id="TextArea1" rows="4" cols="30" name="comment" class="col-12"></textarea>
                    <input id="Submit1" type="submit" value="submit" />
        }


        <!--Comments-->
        <h3>評論</h3>
        <div class="row">
            @foreach (var comment in Model.TableGameComments)
            {
                if (Session["PlayerID"]?.ToString() == comment.PlayerID)
                {
                    <div class="col-md-2">
                        <img src="../images/user.png" class="img-fluid rounded" />
                    </div>

                    <div class="col-md-10 card">
                        <div class="card-body tgCard">
                            <h3 class="font-weight-bold">@comment.Player.NickName</h3>
                            <span>
                                @Html.Raw(comment.Content.Replace("\n", "<br />"))
                            </span>
                            <p>@comment.CommentDate</p>
                            @Html.ActionLink("刪除", "CommentDelete", "TGComment", new { commentID = comment.ID, tld = comment.TableGameID }, new { })
                        </div>
                    </div>

                    <br />
                }
                else
                {
                    <div class="col-md-2">
                        <img src="../images/user.png" class="img-fluid rounded" />
                    </div>

                    <div class="col-md-10 card">
                        <div class="card-body tgCard">
                            <h3 class="font-weight-bold">@comment.Player.NickName</h3>
                            <span>
                                @Html.Raw(comment.Content.Replace("\n", "<br />"))
                            </span>
                            <p>@comment.CommentDate</p>
                        </div>
                    </div>

                    <br />
                }
            }
        </div>
        </div>

</div>
