@model TGIS.Models.TableGame

@{
    ViewBag.Title = "桌遊資訊";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
    int count = 0;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("首頁", "Index", "Home")</li>
        <li class="breadcrumb-item">@Html.ActionLink("桌遊列表", "ShowTableGameListForPlayer", "TableGame")</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.ChineseName</li>
    </ol>
</nav>
<div class="row media">
    <div class="col-md-5">
        @*有微妙偏移,後調*@
        <div id="carouselExampleInterval" class="carousel slide shadow" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (int id in ViewBag.photoIDList)
                {
                    string active = count == 0 ? "active" : "";
                    <div class="carousel-item @active">
                        <img src="@Url.Action("GetPhotoByID", "Photo", new { photoID=id })" />
                    </div>
                    count = 1;
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-7 media-body">
        <h1 class="ml-2">
            <strong>@Model.ChineseName</strong>
            <small class="text-muted ml-2">@Model.EnglishName</small>
        </h1>
        <br />
        <div class="row d-flex justify-content-end">
            @{
                if (Model.IsExtended == true)
                {
                    <p class="btn badge-outline-primary mr-2 ">擴充</p>
                }
            }
            <a href="@Url.Action("ShopIndexForPlayer", "Shop", new { searchedTableGameID = Model.ID })" class="btn btn-outline-info mb-3">找找有此款遊戲的店舖<i class="fas fa-search"></i></a>

        </div>
        <br />
        <div class="row">
            <p class="col-6">建議遊玩人數：@Model.MinPlayer～@Model.MaxPlayer 人</p>
            <p class="col-6">遊玩花費時間：@Model.DetailGamePeroid 分鐘</p>
        </div>
        <br />
        <p>遊玩花費時間：@Model.DetailGamePeroid 分鐘</p>
        <p>建議遊玩人數：@Model.MinPlayer～@Model.MaxPlayer 人</p>
        <hr />
        <p>@Html.Raw(Model.Feature.Replace("\n", "<br/>").Replace(" ", "&nbsp;"))</p>


    </div>
</div>
<hr />
<h2 class="ml-3">遊戲規則</h2>
<div class="m-3 p-3 Frostedglass2">
    @Html.Raw(Model.Rules.Replace("\n", "<br/>").Replace(" ", "&nbsp;"))
</div>
<br />
<h2 class="ml-3">教學連結</h2>
<div class="row m-1">
    @*之後用js調自適應高度*@
    @foreach (var item in Model.RelevantLinks)
    {
        <div class="col-3">
            <div class="card bg-info mb-3">
                <iframe src="@item.Url" frameborder="0" class="card-img" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture fullscreen"></iframe>
            </div>
        </div>
    }
</div>
<br />
<h2 class="ml-3">想玩更多？我們推薦你：</h2>
<div class="row m-1">
    @Html.Action("_GetTableGameCards", new { tableGame = Model })
</div>
<br />
<h2 class="ml-3">桌遊評價</h2>
<div class="m-3">
    <!--CHeck~~~~~~~~~~~~~~~~-->
    @{
        if (Session["PlayerID"] == null)
        {
            <p>欲留言請<a href="javascript:document.getElementById('loginBtn').click()">登入會員</a></p>
        }
        else
        {
            using (Html.BeginForm("CreateTGComment", "TGComment", FormMethod.Post))
            {

                <div id="TGcomment">
                    <input id="Text1" type="hidden" name="tId" value="@Model.ID" />
                    <textarea id="commentText" rows="4" cols="30" name="comment" class="col-12 form-control"></textarea>
                    <div class="d-flex justify-content-end">
                        <input id="commentBtn" type="submit" value="送出評論" class="btn btn-info mt-2" />
                    </div>
                </div>
            }
        }
    }
</div>
<div class="m-3">
    @foreach (var comment in Model.TableGameComments)
    {
        <div class="media mb-3">          
            <img src="@Url.Action("GetPhotoBySourceID", "Photo", new { sourceID=comment.PlayerID,index=0 })" class="align-self-start comm-img" alt="..." height="200" width="200">
            <div class="media-body card comm">
                <div class="card-header">
                    <div class="row">
                        <h5 class="mt-2">@comment.Player.NickName</h5>
                        @if (Session["PlayerID"]?.ToString() == comment.PlayerID)
                        {
                            <a herf="@Url.Action( "CommentDelete", "TGComment", new { commentID = comment.ID })" class="btn text-secondary" data-togggle="tooltip" data-placement="bottom" title="刪除評論"><i class="fas fa-times"></i></a>
                        }
                    </div>
                </div>
                <div class="card-body comm-text">
                    @*滾動條跑得不是很好,之後再修*@
                    @if (comment.IsHidden)
                    {
                        <span class="text-secondary">此留言已經被管理員隱藏，因為內容包含不當言論</span>
                    }
                    else
                    {
                        <span>@Html.Raw(comment.Content.Replace("\n", "<br/>").Replace(" ", "&nbsp;"))</span>
                    }
                </div>
                <div class="card-footer">@comment.CommentDate.ToString("yyyy年MM月dd日")</div>
            </div>
        </div>
    }
</div>


           




    





@section scripts{
    <script>
        //空值時不可送出評論
        $('textarea').keyup(function () {
            if (this.value == "") {
                $('#commentBtn').attr('disabled', true);
            } else {
                $('#commentBtn').attr('disabled', false);
            }
        })

    </script>
}