@using PagedList;
@using PagedList.Mvc;
@model IPagedList<TGIS.Models.TableGame>

@{
    ViewBag.Title = "桌遊管理";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
    <div class="mr-3">
        <div class="row d-flex justify-content-between ml-3 ">
            <h2>桌遊列表</h2>
            @Html.ActionLink("新增一筆資料", "CreateTableGame", null, new { @class = "btn btn-info mt-1 mb-1" })

        </div>
        <br />
        <table class="table text-center table-hover ml-3">
            <tr class="table-manager border-0">
                <th width="10%">
                    @Html.DisplayNameFor(model => model[0].ID)
                </th>
                <th width="25%">
                    @Html.DisplayNameFor(model => model[0].ChineseName)
                </th>
                <th width="45%">
                    @Html.DisplayNameFor(model => model[0].EnglishName)
                </th>
                <th width="10%">
                    @Html.DisplayNameFor(model => model[0].IsShown)
                </th>
                <th width="10%"></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChineseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnglishName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsShown)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "EditTableGame", new { tableGameID = item.ID }, new { @class = "btn btn-info" })
                        @Html.ActionLink("刪除", "DeleteTableGame", new { tableGameID = item.ID }, new { onclick = "return confirm('確定要刪除嗎？')", @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </table>
        <div class="d-flex justify-content-center text-info">
            @Html.PagedListPager(Model, page => Url.Action("ShowTableGameListForAdmin", "TableGame", new { page }))
        </div>
    </div>


