@using TGIS.Models
@model IEnumerable<Shop>

@{
    ViewBag.Title = "ShopIndexForPlayer";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
    int count = 0;
}

<style>
    .text-box {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
</style>



        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("首頁", "Index", "Home", null, new { @class = "nav-link " })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("店家列表", "ShopIndexForPlayer", "Shop", null, new { @class = "nav-link" })
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    @Html.DropDownList("CityID", null, new { @class = "form-control mr-1" })
                    @Html.DropDownList("DistrictID", null, new { @class = "form-control mr-1" })
                    <input class="form-control mr-sm-2 w-auto" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜尋</button>
                </form>
            </div>
        </nav>

    <!-- 店家列表 -->

    @foreach (Shop shop in Model)
    {
        <div class="card mb-3" style="width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="@Url.Action("GetPhotoBySourceID","Photo",new { sourceID=shop.ID,index = 0})" class="card-img h-100"><!--Store image-->
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="w-100" style="position:relative">
                            <h3 class="card-title">@shop.ShopName</h3>
                            <a href="#">
                                <!--link shop detail-->
                                <a href="@Url.Action("ShopDetailForPlayer", "Shop", new { id=shop.ID})" class="btn btn-info" style="position:absolute;right:0;bottom:0">Details</a>
                            </a>
                        </div>
                        <p class="card-text">@shop.District.City.CityName @shop.District.DistrictName  @shop.Address</p>
                        <p class="card-text">@shop.Tel</p>

                        <p class="card-text text-box">@shop.Description</p>


                    </div>
                </div>
                @*<div class="col-md-2">
                        iframe tag add google maps link
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.2704339782863!2d120.30080261541873!3d22.606374337426107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0379f38a702f%3A0x8ec0094e5f7e4d1b!2z6ZuG55uS4oCiS1VCSUPosqjmq4PlnJLljYA!5e0!3m2!1szh-TW!2stw!4v1574324711183!5m2!1szh-TW!2stw" frameborder="0" style="border:0;" allowfullscreen="" class="w-100 h-100"></iframe>
                    </div>*@
            </div>
        </div>
    }
</div>
<script src="~/Scripts/address.js"></script>
<script src="~/Scripts/address.js"></script>