@model TGIS.Models.Shop


@{
    ViewBag.Title = "ShopDetailForPlayer";
    Layout="~/Views/Shared/_LayoutPlayer.cshtml";
    int count = 0;
}


<div class="row mt-4">
    <!--For bar-->
    <nav></nav>

    <!--shop detail-->
    <div class="col-md-5">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (int id in ViewBag.photoIDList)
                {
                    string active = count == 0 ? "active" : "";
                    <div class="carousel-item @active">
                        <img src="@Url.Action("GetPhotoByID", "Photo", new { photoID=id })" class="d-block w-100" />
                    </div>
                    count = 1;
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-md-7">
        
        <span>@Model.ShopName</span>
        <p>@Model.District.City.CityName@Model.District.DistrictName@Model.Address</p>
        <h3>營業時間：</h3>
        <p>@Model.OpeningHours</p>
    
    </div>
    <div class="col-12 mt-3">
        @Model.Description
    </div>

    <!--BAR-->
    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link active" href="#">Google評論</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">優惠列表</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">店內桌遊列表</a>
        </li>
    </ul>

</div>




































@*<h2>ShopIndexForDetail</h2>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMinConsumeRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMinConsumeRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFoodAcceptable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFoodAcceptable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaScale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaScale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Line)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Line)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.District.City.CityName)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.District.City.CityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.District.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.DistrictName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
