@model TGIS.Models.Shop


@{
    ViewBag.Title = "ShopDetailForPlayer";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
    int count = 0;
}



<!--For bar-->
<nav class="nav">
    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
    @Html.ActionLink("Shop", "ShopIndexForPlayer", "Shop", null, new { @class = "nav-link" })
    <a class="nav-link">@Model.ShopName</a>
</nav>
<div class="row mt-4">
    <!--shop detail-->
    <div class="col-md-5">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (int id in ViewBag.photoIDList)
                {
                    string active = count == 0 ? "active" : "";
                    <div class="carousel-item @active" style="height:50vh">
                        <img src="@Url.Action("GetPhotoByID", "Photo", new { photoID=id })" class="w-100 h-100" />
                    </div>
                    count = 1;
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-md-7">

        <div class="row">
            <h3 class="col-lg-6 col-md-5">
                <strong>@Model.ShopName</strong>
            </h3>
            <div class="row col-lg-6 col-md-auto justify-content-end">

                @{
                    if (Model.IsFoodAcceptable == true)
                    {
                        <span class="btn btn-outline-primary mr-2">可帶外食</span>
                    }
                    else
                    {
                        <span class="btn btn-outline-danger mr-2">禁帶外食</span>
                    }

                    if (Model.IsMinConsumeRequired == true)
                    {
                        <span class="btn btn-outline-primary">無低消</span>
                    }
                    else
                    {
                        <span class="btn btn-outline-danger">有低消</span>
                    }
                }

            </div>
        </div>
        <p>
            地址：@Model.District.City.CityName@Model.District.DistrictName@Model.Address
            <a href="https://www.google.com/maps/place/@Model.District.City.CityName@Model.District.DistrictName@Model.Address">在Google 地圖中查看</a>
        </p>

        <p>信箱：@Model.Email</p>

        <p>Line：@Model.Line</p>
        <p>聯絡方式：@Model.Tel</p>
        <p>
            官網：
            <a href="@Model.Website">@Model.Website</a>
        </p>
        <p>店內規模：@Model.AreaScale</p>
        <p>營業時間：@Model.OpeningHours</p>
    </div>
    <div class="col-12 mt-3">
        @Model.Description
    </div>

    <div class="col-12">
        <!-- 導航欄 -->
        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
                <a class="nav-link active" href="#NormalOffer" data-toggle="tab">活動</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#Coupons" data-toggle="tab">優惠券</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#TableGameList" data-toggle="tab">桌遊清單</a>
            </li>
        </ul>

        <div class="tab-content">
            <!-- 活動 -->
            <div class="tab-pane fade active show" id="NormalOffer">
                @Html.Action("_OfferListForPlayer", "NormalOffer", new { shopID = Model.ID })
            </div>

            <!-- 優惠券 -->
            <div class="tab-pane fade" id="Coupons">
                @Html.Action("_CouponInShopIndex", "Coupon", new { shopID = Model.ID })
                
            </div>

            <!-- 桌遊清單 -->
            <div class="tab-pane fade" id="TableGameList">
                @Html.Action("_AllTableGamesInTheShop", "TableGameInShopDetail", new { shopID = Model.ID })
            </div>
        </div>
    </div>
</div>
@section scripts{

}
