@model TGIS.Models.Shop

@{
    ViewBag.Title = "ShopIndexForDetail";
}

<h2>ShopIndexForDetail</h2>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="dl-horizontal">
           <dt>
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMinConsumeRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMinConsumeRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFoodAcceptable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFoodAcceptable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaScale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaScale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Line)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Line)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(m=>m.District.City.CityName)
        </dt>
        <dd>
            @Html.DisplayFor(m=>m.District.City.CityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.District.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.DistrictName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
