@model TGIS.Models.Shop

@{
    ViewBag.Title = "店家資訊編輯";
    Layout = "~/Views/Shared/_LayoutShoperCenter.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <h2>店家資訊編輯</h2>
        <br />
        <h4>店面資訊</h4>
        <hr />
        <div class="row form-group">
            @Html.LabelFor(model => model.ShopName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ShopName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShopName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(model => model.OpeningHours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.OpeningHours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OpeningHours, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <label class="control-label col-md-2">店家地址</label>
            <div class="col-md-2">
                @Html.DropDownList("CityID", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DistrictID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.DropDownList("DistrictID", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DistrictID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(model => model.IsMinConsumeRequired, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsMinConsumeRequired)
                    @Html.ValidationMessageFor(model => model.IsMinConsumeRequired, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.IsFoodAcceptable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsFoodAcceptable)
                    @Html.ValidationMessageFor(model => model.IsFoodAcceptable, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.AreaScale, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("AreaScale", null, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.AreaScale, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="control-label col-md-2">店家介紹</div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Description, 3, 70, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <label class="control-label col-md-2">圖片資料</label>
            <div class="col-md-8 row">
                @if (ViewBag.photoIDList.Count == 0)
                {
                    <p class="text-info">目前尚無任何圖片</p>
                }
                else
                {
                    foreach (int id in ViewBag.photoIDList)
                    {
                        <div class="col-md-6">
                            <img class="img-fluid" src="@Url.Action("GetPhotoByID", "Photo", new { photoID = id})" />
                            <div>
                                刪除
                                <input type="checkbox" name="deletedPhotoID" value="@id" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="row form-group">
            <label class="control-label col-md-2">上傳新圖片<br />(可一次選取多張)</label>
            <div class="col-md-8">
                <input type="file" name="newPhoto" multiple />
            </div>
        </div>
        <h4>聯絡資訊</h4>
        <hr />
        <div class="row form-group">
            @Html.LabelFor(model => model.Tel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(model => model.Line, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Line, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Line, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="儲存更改" class="btn btn-info" />
        </div>
    </div>
}

@section scripts{
    <script>
        //離開前跳小窗重複確認(參考他人,待優化)
        var isChange = false;
        $(function () {
            $("input,textarea,select").change(function () {
                isChange = true;
                $(this).addClass("editing");
            });

            $(window).bind('beforeunload', function () {
                if (isChange || $(".editing").get().length > 0) {
                    return '更改尚未儲存，確定離開？';
                }
            })
        });
        $("input:submit").click(function () {
            $(window).unbind('beforeunload');
        });

    </script>
    <script src="~/Scripts/address.js"></script>
}
