@model TGIS.Models.Shop

@{
    ViewBag.Title = "ShopDetailForShop";
    Layout = "~/Views/Shared/_LayoutShoperCenter.cshtml";
}
<div class="pl-4">
    <span class="h2">@Html.DisplayFor(model => model.ShopName)</span>
    <br />
    <br />
    <dl class="row ml-1">
        <dt> @Html.DisplayNameFor(model => model.Account)：</dt>
        <dd>@Html.DisplayFor(model => model.Account)</dd>
    </dl>
    <dl class="row ml-1">
        <dt class="pt-1">密碼：</dt>
        <dd>＊＊＊＊＊＊＊&nbsp;&nbsp;</dd>
        @*@Html.Action("_PhotoGallery")*@
        @Html.ActionLink("更換密碼", "ShopPasswordChange", "Shop", new { id = Model.ID }, new { @class = "btn btn-outline-info btn-sm" })
    </dl>
    <hr />
    <span class="h3">店家資訊</span>
    @Html.ActionLink("更改資料", "ShopEditForStore", new { id = Model.ID }, new { @class = "btn btn-outline-info btn-sm align-text-bottom" })
    <br />
    <br />
    <div class="row">
        <dl class="row ml-1 col-4">
            <dt>@Html.DisplayNameFor(model => model.OpeningHours)：</dt>
            <dd>@Html.DisplayFor(model => model.OpeningHours)</dd>
        </dl>
        <dl class="row ml-1 col-8">
            <dt>
                @Html.DisplayFor(model => model.District.DistrictName)
                @Html.DisplayFor(m => m.District.City.CityName)
                @Html.DisplayNameFor(model => model.Address)：
            </dt>
            <dd>@Html.DisplayFor(model => model.Address)</dd>
        </dl>
    </div>
    <div class="row">
        <dl class="row ml-1 col-4">
            <dt>@Html.DisplayNameFor(model => model.AreaScale)：</dt>
            <dd>@Html.DisplayFor(model => model.AreaScale)</dd>
        </dl>
        <dl class="row ml-1 col-4">
            <dt>@Html.DisplayNameFor(model => model.IsMinConsumeRequired)：</dt>
            <dd>@Html.DisplayFor(model => model.IsMinConsumeRequired)</dd>
        </dl>
        <dl class="row ml-1 col-4">
            <dt>@Html.DisplayNameFor(model => model.IsFoodAcceptable)：</dt>
            <dd>@Html.DisplayFor(model => model.IsFoodAcceptable)</dd>
        </dl>
    </div>
    <div class="row">
        <dl class="row ml-1 col-4">
            <dt>@Html.DisplayNameFor(model => model.Tel)：
            <dt>
            <dd>@Html.DisplayFor(model => model.Tel)</dd>
        </dl>
        <dl class="row ml-1 col-8">
            <dt>@Html.DisplayNameFor(model => model.Email)：</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>
        </dl>
    </div>
    <div class="row">
        <dl class="row ml-1 col-4">
            <dt>@Html.DisplayNameFor(model => model.Line)：</dt>
            <dd>@Html.DisplayFor(model => model.Line)</dd>
        </dl>
        <dl class="row ml-1 col-8">
            <dt>@Html.DisplayNameFor(model => model.Website)：</dt>
            <dd>@Html.DisplayFor(model => model.Website)</dd>
        </dl>
    </div>
    <div class="row">
        <dl class="row ml-1 col-4">
            <dt>@Html.DisplayNameFor(model => model.IsVIP)：</dt>
            <dd>@Html.DisplayFor(model => model.IsVIP)</dd>
            @* 根據狀態顯示是/否 *@
        </dl>
        <dl class="row ml-1 col-4">
            <dt>@Html.DisplayNameFor(model => model.ExpireDate)：</dt>
            <dd>@Html.DisplayFor(model => model.ExpireDate)</dd>
            @*如果沒有加值過,顯示"尚未加值";如果加值過已到期,顯示已到期.*@
        </dl>
        <dl class="row ml-1 col-4">
            <dt>@Html.DisplayNameFor(model => model.AccumulatedHours)：</dt>
            <dd>@Html.DisplayFor(model => model.AccumulatedHours)</dd>
        </dl>
    </div>
    <hr />
    <div class="row">
        <dl class="row ml-1 col-12">
            <dt>@Html.DisplayNameFor(model => model.Description)：</dt>
            <dd>@Html.DisplayFor(model => model.Description)</dd>
        </dl>
    </div>
    @* 少了照片展示 *@

</div>



