@model IEnumerable<TGIS.Models.Shop>

@{
    ViewBag.Title = "ShopIndex";
}

<h2>ShopIndex</h2>

<p>
    @Html.ActionLink("Create New", "MgShopCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMinConsumeRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFoodAcceptable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaScale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Line)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccumulatedHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAccountEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.District.City.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District.DistrictName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMinConsumeRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFoodAcceptable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaScale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Line)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccumulatedHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAccountEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(m=>item.District.City.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District.DistrictName)
        </td>
        <td>
            @Html.ActionLink("Edit", "MgShopEdit", new { id=item.ID }) |
            @Html.ActionLink("Details", "MgShopDetail", new { id=item.ID }) |
            @Html.ActionLink("Delete", "ShopDelete", new { id=item.ID })
        </td>
    </tr>
}

</table>
