@using TGIS.Models
@using PagedList
@using PagedList.Mvc
@model IPagedList<Shop>

@{
    ViewBag.Title = "店家列表";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
    //搜尋某桌遊的資訊
    TableGame game = null;
    if (ViewBag.SearchingTGInfo != null)
    {
        game = (TableGame)ViewBag.SearchingTGInfo;
    }
    
}

<link href="~/Content/WebSearch.css" rel="stylesheet" />
<style>
    #TGResultList, #ShopResultList {
        width: 93%;
    }
</style>

<div class="row">
    <aside class="border col-3">
        <form id="filter">
            <h3 class="text-info">快速搜尋</h3>
            <div class="form-group">
                <label class="col-form-label">從店家名稱搜尋：</label>
                <input id="ShopSearch" class="form-control" type="search" placeholder="輸入店家名字" aria-label="SearchShop">
                <div id="ShopResultList"></div>
            </div>
            <div class="form-group">
                <label>從地點搜尋：</label>
                <div class="row ml-1 mr-1">
                    @Html.DropDownList("CityID", null, new { @class = "form-control col-6" })
                    @Html.DropDownList("DistrictID", null, new { @class = "form-control col-6" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label">從想玩的桌遊搜尋：</label>
                @if (game != null)
                {
                    <input type="hidden" name="searchedTableGameID" id="searchedTableGameID" value="@game.ID" />
                    <input class="form-control" type="search" placeholder="輸入桌遊名字" value="@game.ChineseName" aria-label="SearchGame">
                }
                else
                {
                    <input type="hidden" name="searchedTableGameID" id="searchedTableGameID" value="" />
                    <input id="GameSearch" class="form-control" type="search" placeholder="輸入桌遊名字" aria-label="SearchGame">
                }
                <div id="TGResultList"></div>
            </div>
            <h3 class="text-info">進階搜尋</h3>
            <div class="form-group">
                <label class="col-form-label">場地規模：</label>
                @Html.DropDownList("AreaScale", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="col-form-label">是否有低消：</label>
                @Html.DropDownList("IsMinConsumeRequired", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="col-form-label">是否可外食：</label>
                @Html.DropDownList("IsFoodAcceptable", null, new { @class = "form-control" })
            </div>
            <button class="btn btn-info " type="submit">搜尋</button>
            @Html.ActionLink("清除篩選條件", "ShopIndexForPlayer", null, new { @class = "btn btn-secondary" })

            @*在過濾桌遊的同時使分頁功能運作*@
            <input type="hidden" name="page" id="page" value="" />

        </form>
    </aside>
    <div class="col-9 p-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">首頁</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">店家列表</li>
            </ol>
        </nav>
        @*如果要顯示就要所有選項顯示，思考改版方法*@
        @foreach (Shop shop in Model)
        {
            <div class="media m-2">

                <div class="media-body p-2 Frostedglass2">
                    <a href="@Url.Action("ShopDetailForPlayer", "Shop", new { id=shop.ID})">
                        <h3>@shop.ShopName</h3>
                        <hr />
                        <p>地址：@shop.District.City.CityName @shop.District.DistrictName @shop.Address</p>
                        <p>電話：@shop.Tel</p>
                        <p>營業時間：@shop.OpeningHours</p>
                    </a>
                </div>

                <img src="@Url.Action("GetPhotoBySourceID","Photo",new { sourceID=shop.ID,index = 0})" class="shopphoto m-1">
            </div>
        }
        <div>@Html.PagedListPager(Model, page => Url.Action("ShopIndexForPlayer", "Shop", new { page}))</div>
    </div>
</div>



@section scripts{

    <script src="~/Scripts/WebSearch.js"></script>

    <script>
        //選取縣市時會出現行政區的ajax
        //這裡不使用套件，因為要加入「不限」選項
        init();
        $("#CityID").change(init);
        function init() {
            CId = $("#CityID").val();
            Did = $("#DistrictID").val();
            $.post("/ajax/generateStateList", { CId, Did }, callback)
        }
        function callback(val) {
            $("#DistrictID").html("<option value='-1'>不限</option>" + val);
            //不篩選行政區的情況下保留狀態
            @if (((bool)ViewBag.NoDistrict))
            {
                //清除所有選項的selected狀態並選擇「不限」
                @: $("#DistrictID option").prop("selected", false);
                @: $("#DistrictID option[value='-1']").prop("selected", true);
            }
        }

    </script>

    @* 在過濾店家的同時使分頁功能運作 *@
    <script src="~/Scripts/pagerFix.js"></script>

}
