@using TGIS.Models
@model IEnumerable<Shop>

@{
    ViewBag.Title = "ShopIndexForPlayer";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
    //搜尋某桌遊的資訊
    TableGame game = (TableGame)ViewBag.SearchingTGInfo;
}

(頁面重新施工中)
<div >

</div>












@*<form class="form-inline my-2 my-lg-0">
        @Html.DropDownList("CityID", null, new { @class = "form-control mr-1" })
        @Html.DropDownList("DistrictID", null, new { @class = "form-control mr-1" })
        @if (game != null)
        {
            <input type="hidden" name="searchedTableGameID" value="@game.ID" />
        }
        <input class="form-control mr-sm-2 w-auto" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜尋</button>
    </form>*@

@*@if(game != null)
    {
        <p>正在搜尋包含"@game.ChineseName"的店家</p>
    }*@

<!-- 店家列表 -->

@*@foreach (Shop shop in Model)
{*@

    @*<img src="@Url.Action("GetPhotoBySourceID","Photo",new { sourceID=shop.ID,index = 0})" class="card-img h-100">*@<!--Store image-->
    @*<h3 class="card-title">@shop.ShopName</h3>
    <a href="#">*@
        <!--link shop detail-->
        @*<a href="@Url.Action("ShopDetailForPlayer", "Shop", new { id=shop.ID})" class="btn btn-info" style="position:absolute;right:0;bottom:0">Details</a>
    </a>

    <p class="card-text">@shop.District.City.CityName @shop.District.DistrictName  @shop.Address</p>
    <p class="card-text">@shop.Tel</p>

    <p class="card-text text-box">@shop.Description</p>*@


@*}*@

@section scripts{
    <script src="~/Scripts/address.js"></script>
}
