@model IEnumerable<TGIS.Models.Shop>

@{
    ViewBag.Title = "ShopIndex"; 
}

<h2>ShopIndex</h2>

<p>
    @Html.ActionLink("新增一筆資料", "MgShopCreate", null, new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccumulatedHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAccountEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccumulatedHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAccountEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("編輯", "MgShopEdit", new { id=item.ID }, new { @class="btn btn-secondary"}) 
            @Html.ActionLink("刪除", "ShopDelete", new { id=item.ID }, new { @class="btn btn-danger", onclick="return confirm('確定要刪除嗎？')"})
        </td>
    </tr>
}

</table>
