@model TGIS.Models.Shop


@{
    ViewBag.Title = "店家資訊";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
    int count = 0;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> @Html.ActionLink("首頁", "Index", "Home")</li>
        <li class="breadcrumb-item">@Html.ActionLink("店家列表", "ShopIndexForPlayer", "Shop")</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.ShopName</li>
    </ol>
</nav>
<div class="row media">
    <div class="col-md-5">
        @*有微妙偏移,後調*@
        <div id="carouselExampleInterval" class="carousel slide shadow" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (int id in ViewBag.photoIDList)
                {
                    string active = count == 0 ? "active" : "";
                    <div class="carousel-item @active">
                        <img src="@Url.Action("GetPhotoByID", "Photo", new { photoID=id })"/>
                    </div>
                    count = 1;
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-7 media-body">
        <div class="row d-flex justify-content-between">
            <h1 class="ml-2">
                <strong>@Model.ShopName</strong>
            </h1>
            <div class=" mt-2 mr-3 h4">
                @{
                    if (Model.IsFoodAcceptable == true)
                    {
                        <span class="btn badge-outline-primary mr-2 ">可帶外食</span>
                    }
                    else
                    {
                        <span class="btn badge-outline-danger mr-2">禁帶外食</span>
                    }

                    if (Model.IsMinConsumeRequired == true)
                    {
                        <span class="btn badge-outline-danger mr-2">有低消</span>
                    }
                    else
                    {
                        <span class="btn badge-outline-primary mr-2">無低消</span>
                    }
                }
                @Html.ActionLink("檢舉", "Report", "Feedback", new { defendent = Model.ID }, new { @class = "btn btn-outline-secondary" })
            </div>
        </div>
        <br />
        <p>
            <span>地址：@Model.District.City.CityName@Model.District.DistrictName@Model.Address</span>
            <a class="btn btn-outline-info btn-sm ml-1" href="https://www.google.com/maps/place/@Model.District.City.CityName@Model.District.DistrictName@Model.Address+@Model.ShopName" target="_blank">開啟地圖</a>
        </p>
        <p>店內規模：@Model.AreaScale</p>
        <p>信箱：@Model.Email</p>
        <p>Line：@Model.Line</p>
        <p>聯絡方式：@Model.Tel</p>
        <p>官網：<a href="@Model.Website">@Model.ShopName 粉絲專頁</a></p>@*(判定功能?)*@
        <p>營業時間：@Model.OpeningHours</p>
    </div>
</div>
<hr />
<div class="m-3 p-2 Frostedglass2">
    <p>店家介紹：@Model.Description</p>
</div>

    <ul class="nav nav-SD nav-fill">
        <li class="nav-item">
            <a class="nav-link active" href="#TableGameList" data-toggle="tab">店內桌遊清單</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#NormalOffer" data-toggle="tab">最新活動</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#Coupons" data-toggle="tab">有桌方遊優惠券</a>
        </li>

    </ul>
    <div class="tab-content">
        <!-- 桌遊清單 -->
        <div class="border-shop tab-pane fade active show" id="TableGameList">
            @Html.Action("_AllTableGamesInTheShop", "TableGameInShopDetail", new { shopID = Model.ID })
        </div>
        <!-- 活動 -->
        <div class="border-shop tab-pane fade" id="NormalOffer">
            @Html.Action("_OfferListForPlayer", "NormalOffer", new { shopID = Model.ID })
        </div>

        <!-- 優惠券 -->
        <div class="border-shop tab-pane fade" id="Coupons">
            @Html.Action("_CouponInShopIndex", "Coupon", new { shopID = Model.ID })

        </div>
    </div>


