@using TGIS.Models
@model Coupon

@{
    ViewBag.Title = "新增優惠券";
    Layout = "~/Views/Shared/_LayoutShoperCenter.cshtml";
}


@using (Html.BeginForm("CouponCreate", "Coupon", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <h2>建立優惠券</h2>
        <p>注意：建立完成的優惠券需經本網確認後才行生效。</p>

        <hr />
        <div class="row form-group">
            @Html.LabelFor(model => model.BeginDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BeginDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BeginDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            @Html.LabelFor(model => model.PointsRequired, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PointsRequired, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PointsRequired, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            @Html.LabelFor(model => model.LimitedAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LimitedAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LimitedAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label" })
                <p class="countResult text-secondary"></p>
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control textCount", style = "resize:none", maxlength = "100", rows = "4" })
                @*@Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="row form-group">
            <label class="control-label col-md-2">上傳新圖片<br />(可一次選取多張)</label>
            <div class="col-md-10">
                <input type="file" name="photos" multiple />
            </div>
        </div>

        <div class="row form-group ml-1">
            <input type="submit" value="建立" class="btn btn-info" />
        </div>
    </div>
}


@section scripts{
    <script src="~/Scripts/mineJS.js"></script>
    <script src="~/Scripts/confirmBeforeExitEditor.js"></script>
}