@model TGIS.Models.Coupon

@{
    ViewBag.Title = "優惠券編輯";
    Layout = "~/Views/Shared/_LayoutShoperCenter.cshtml";
}

    


@using (Html.BeginForm("CouponEdit", "Coupon", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <h2>優惠券編輯</h2>
        <h5 class="text-danger">注意：優惠券更改後會重新變為待審核狀態並且關閉，如已完成審核切勿更動。</h5>
        <hr />
        <div class="row form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            @Html.LabelFor(model => model.BeginDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.BeginDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BeginDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            @Html.LabelFor(model => model.PointsRequired, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PointsRequired, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PointsRequired, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            @Html.LabelFor(model => model.LimitedAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LimitedAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LimitedAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            <label class="control-label col-md-2">圖片資料</label>
            <div class="col-md-10 row">
                @if (ViewBag.photoIDList.Count == 0)
                {
                    <p class="text-info">目前尚無任何圖片</p>
                }
                else
                {
                    foreach (int id in ViewBag.photoIDList)
                    {
                        <div class="col-md-4">
                            <img class="img-fluid" src="@Url.Action("GetPhotoByID", "Photo", new { photoID = id})" />
                            <div>
                                刪除<input type="checkbox" name="deletedPhotoID" value="@id" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2">上傳新圖片(可一次選取多張)</label>
            <div class="col-md-10">
                <input type="file" name="photos" multiple />
            </div>
        </div>


        <div class="form-group">
            <input type="submit" value="儲存更改" class="btn btn-info" onclick="return confirm('確認更改優惠券內容?')" />
        </div>
    </div>
}



@section scripts{
    <script src="~/Scripts/date_convert.js"></script>
}
