@using TGIS.Models;
@model Feedback

@{
    ViewBag.Title = "ReturnDetail";
    TGISDBEntities db = new TGISDBEntities();
}

<h2>回報明細</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plaintiff)
        </dt>

        <dd>
            @if (Model.TypeTagID == "R03")
            {
                @: 匿名檢舉
            }
            else
            {
                @db.Players.Find(Model.Plaintiff).NickName
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defendent)
        </dt>

        <dd>
            @if (Model.TypeTagID == "R01")
            {
                @db.Players.Find(Model.Defendent).NickName
            }
            else if (Model.TypeTagID == "R02")
            {
                @db.Shops.Find(Model.Defendent).ShopName
            }
            else
            {
                @: 本網站
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            回報類型
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag.TagName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Delete", "ReturnDel", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "ReturnList")
</p>
