@using TGIS.Models;
@model Feedback

@{
    ViewBag.Title = "問題回報";
    TGISDBEntities db = new TGISDBEntities();
}


<h2>問題回報詳細</h2>
<hr />
<div class="ml-3">

    <dl class="row">
        <dt>@Html.DisplayNameFor(model => model.ReceivedDate)：</dt>
        <dd>@Html.DisplayFor(model => model.ReceivedDate)</dd>
    </dl>
    <dl class="row">
        <dt>@Html.DisplayNameFor(model => model.Plaintiff)：</dt>
        <dd>
            @if (Model.TypeTagID == "R03" || Model.TypeTagID == "R04")
            {
                @: 匿名檢舉
            }
            else
            {
                @db.Players.Find(Model.Plaintiff).NickName
            }
        </dd>
    </dl>
    <dl class="row">
        <dt>@Html.DisplayNameFor(model => model.Defendent)：</dt>
        <dd>
            @if (Model.TypeTagID == "R01")
            {
                @db.Players.Find(Model.Defendent).NickName
            }
            else if (Model.TypeTagID == "R02")
            {
                @db.Shops.Find(Model.Defendent).ShopName
            }
            else
            {
                @: 本網站
            }
        </dd>
    </dl>
    <dl class="row">
        <dt>@Html.DisplayNameFor(model => model.Content)：</dt>
        <dd>@Html.DisplayFor(model => model.Content)</dd>
    </dl>
    <dl class="row">
        <dt>回報類型：</dt>
        <dd>@Html.DisplayFor(model => model.Tag.TagName)</dd>
    </dl>
</div>

@Html.ActionLink("刪除", "ReturnDel", new { id = Model.ID }, new { @class = "btn btn-danger" })
@Html.ActionLink("回到列表", "ReturnList", null, new { @class = "btn btn-secondary" })

