@model TGIS.Models.Player

@{
    ViewBag.Title = "會員中心";
    Layout = "~/Views/Shared/_LayoutPlayerCenter.cshtml";
}

    <div class="body-content p-5 row">
        <div class="col-9">
            <div class="row ml-1">
                <span class="h2 mr-3" id="nickNameDisplay">@Model.NickName</span>
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#PlayerNameChange">
                    更改暱稱
                </button>
            </div>
            <hr />
            <div class="row">
                <dl class="row ml-1 col-5">
                    <dt>@Html.DisplayNameFor(model => model.Account)：</dt>
                    <dd>@Html.DisplayFor(model => model.Account)</dd>
                </dl>
                <dl class="row ml-1 col-4">
                    <dt>密碼：</dt>
                    <dd>
                        <button type="button" class="btn btn-outline-info btn-sm align-text-top" data-toggle="modal" data-target="#playerpwChange">
                            更改密碼
                        </button>
                    </dd>
                </dl>
            </div>
            <div class="row">
                <dl class="row ml-1 col-5">
                    <dt>@Html.DisplayNameFor(model => model.Email)：</dt>
                    <dd>@Html.DisplayFor(model => model.Email)</dd>
                </dl>
                <dl class="row ml-1 col-4">
                    @*<dt> @Html.DisplayNameFor(model => model.Points)=</dt>
                        <dd>=@Html.DisplayFor(model => model.Points)</dd>*@
                    <dt>
                        @Html.DisplayNameFor(model => model.IsEmailValid)：
                    </dt>

                    <dd>
                        @if (Model.IsEmailValid)
                        {
                            @: 已驗證
                        }
                        else
                        {
                            @: 尚未驗證
                        }
                    </dd>
                </dl>
            </div>
            <div class="row">
                <dl class="row ml-1 col-5">
                    <dt>@Html.DisplayNameFor(model => model.Gender)：</dt>
                    <dd>
                        @if (Model.Gender)
                        {
                            @:男
                        }
                        else
                        {
                            @: 女
                        }
                    </dd>
                </dl>
                <dl class="row ml-1 col-4">
                    <dt>@Html.DisplayNameFor(model => model.Birthday)：</dt>
                    <dd>@Html.DisplayFor(model => model.Birthday)</dd>
                </dl>
            </div>
            <dl class="row ml-1">
                <dt>居住縣市：</dt>
                <dd>
                    @Html.DisplayFor(m => m.District.City.CityName)
                    @Html.DisplayFor(model => model.District.DistrictName)
                </dd>
            </dl>
        </div>
        <div class="col-3  d-flex flex-column justify-content-center">
            <img src="@Url.Action("GetPhotoBySourceID", "Photo", new { sourceID=Model.ID, index=0})" alt="No photo" />
            <br />
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#PlayerPhotoChange">
                更換大頭貼
            </button>
        </div>
    </div>
<!-- 更改密碼的跳出窗 -->
<div class="modal fade" id="playerpwChange" tabindex="-1" role="dialog" aria-labelledby="playerPasswordChange" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" action="~/player/playerDetail">
                <div class="modal-header">
                    <h5 class="modal-title" id="playerPasswordChange">更改密碼</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalPwd" class="modal-body">

                    <input id="userId" type="hidden" value="@Session["PlayerID"].ToString()" />
                    <div>
                        <span class="form-label">舊密碼：</span>
                        <input id="pwd" type="password" class="form-control w-75" />
                    </div>
                    <div>
                        <span class="form-label">新密碼：</span>
                        <input id="newpwd" type="password" class="form-control w-75" />
                    </div>
                    <div>
                        <span class="form-label">新密碼確認：</span>
                        <input id="pwdrepeat" type="password" class="form-control w-75" />
                    </div>
                    <span id="error" class="bg-danger w-25"></span>
                </div>
                <div class="modal-footer">
                    <button id="PWsubmit" type="button" class="btn btn-primary">確認修改</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 更改頭貼的跳出窗 -->
<div class="modal fade" id="PlayerPhotoChange" tabindex="-1" role="dialog" aria-labelledby="PlayerPhotoChange" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="@Url.Action("ChangePlayerPhoto", "Player")" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="PlayerPhotoChange">更換頭貼</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="file" name="photo" id="photoInput" />
                </div>
                <div class="modal-footer">
                    <input id="changePhotoBtn" type="submit" class="btn btn-info" value="更換大頭貼" disabled />
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 更改暱稱的跳出窗 -->
<div class="modal fade" id="PlayerNameChange" tabindex="-1" role="dialog" aria-labelledby="PlayerNameChange" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PlayerNameChange">更換暱稱</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="nickName" placeholder="@Model.NickName" class="form-control" maxlength="10"/>
                <p>暱稱長度為10個字以內(不分中英文)</p>
            </div>
            <div class="modal-footer">
                <button id="changeNickNameBtn" type="button" class="btn btn-outline-info btn-sm" data-dismiss="modal">確認更改</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        //變更暱稱
        $("#changeNickNameBtn").click(function () {
            $.post("/Player/ChangeNickName", { playerID: "@((string)Session["PlayerID"])", nickname: $("#nickName").val() }, function (data) {
                $("#nickNameDisplay").html(data);
            })
        })
        //選擇檔案後變更圖片的按鈕才能點擊
        $("#photoInput").change(function () {
            if ($("#photoInput").val() != "")
                $("#changePhotoBtn").prop("disabled", "");
            else
            $("#changePhotoBtn").prop("disabled", "disabled");
        })
    //密碼檢查功能
        $('#PWsubmit').click(function () {
            $.post(
                "/ajax/PasswordChange",
                { oldpwd: $("#pwd").val(), newpwd: $("#newpwd").val(), pwdrepeat: $("#pwdrepeat").val(), userId: $("#userId").val() },
                function (state) {
                    switch (state) {
                        case "0":
                            $("#error").empty().text("新密碼錯誤,請重新確認新密碼")
                            break;
                        case "1":
                            $("#error").empty().text("舊密碼錯誤")
                            break;
                        case "2":
                            alert("修改成功")
                            location.reload();
                            break;
                        case "3":
                            alert("請重新登入")
                            location.reload();
                            break;
                    }
                }
            )
        });
    </script>
}

