@model TGIS.Models.Player

@{
    ViewBag.Title = "會員註冊";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}


<link href="~/Content/croppie.css" rel="stylesheet" />
<style>
    #crop {
        display: none;
    }

    #result {
        display: none;
    }

    #crop_close {
        display: none;
    }
</style>




<h2>會員註冊</h2>

@using (Html.BeginForm("PlayerCreate", "Player", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">

        <div class="row form-group">
            @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-lg-2 col-md-3" })
            <div class="col-lg-10  col-md-4">
                @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入帳號" } })
                @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
            </div>
            <div id="AccountCheck" class="col-lg-4  col-md-4 text-danger"></div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-lg-2  col-md-3" })
            <div class="col-lg-10  col-md-4">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "請設定8-20字數以內的密碼，必須包含至少一個英文字母" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label  col-lg-2 col-md-3">重複確認密碼</label>
            <div class="col-lg-10  col-md-4">
                <input name="passwordConfirm" class="form-control" placeholder="請再次輸入你的密碼" type="password" />
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 col-lg-2" })
            <div class="col-lg-10  col-md-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2 col-lg-2" })
            <div class="col-lg-10  col-md-6">
                <div class="checkbox">
                    @{
                        // 狀態保留
                        string maleChecked = "checked";
                        string femaleChecked = "";
                        if (ViewData.ModelState["Gender"] != null)
                        {
                            if (ViewData.ModelState["Gender"].Value.AttemptedValue == "false")
                            {
                                maleChecked = "";
                                femaleChecked = "checked";
                            }
                        }
                    }

                    <input type="radio" name="Gender" value="true" class="ml-3 mr-3" @maleChecked />
                    <span>男</span>
                    <input type="radio" name="Gender" value="false" class="ml-3 mr-3" @femaleChecked />
                    <span>女</span>

                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row form-group">
            @Html.LabelFor(model => model.NickName, htmlAttributes: new { @class = "control-label  col-lg-2  col-md-3" })
            <div class="col-lg-10  col-md-4">
                @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            <label class="control-label col-md-3 col-lg-2">居住縣市區域</label>
            @*@Html.LabelFor(model => model.District.City.CityName, new { @class = "control-label col-md-2" })*@
            <div class="col-lg-5 col-md-2">
                @Html.DropDownList("CityID", null, new { @class = "form-control" })
            </div>
            @*@Html.LabelFor(m => m.District.DistrictName, new { @class = "control-label col-md-2" })*@
            <div class="col-lg-5 col-md-2">
                @Html.DropDownList("DistrictID", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-3 col-lg-2" })
            <div class="col-lg-10  col-md-4">
                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
            </div>
        </div>


        <!--photo-->
        <div class="form-group row">
            <label class=" col-lg-2 col-md-3">大頭貼</label>
            <div id="upload col-lg-4 col-md-4">
                <label id="filedrag" >
                    <input type="file" id="photo" name="photo" accept="image/*" />
                </label>
            </div>

            @*<button type="button" id="crop_close" class="btn mb-2 btn-outline-warning" onclick="cropCancel();">Reupload</button>
                <div class="crop_range">
                    <div id="crop" class="col-md-4">
                    <button type="button" class="btn btn-info" id="prev" onclick="cropCancel();">PREV</button>
                    <button type="button" class="btn btn-info" id="next" onclick="cropResult();">Crop</button>
                    <div id="croppie"></div>
                </div>
                <div id="result" class="col-md-4">
                    <img src="" id="crop_img"  />
                </div>*@
        </div>
        <!--//////////////////////////////////////////////////-->
        <div class="form-group">         
                @Html.ActionLink("取消", "Index", "Home", null, new { @class = "btn btn-secondary" })
                <input type="submit" value="送出" class="btn btn-info" />   
        </div>
    </div>
}

<div>

</div>
@section scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/address.js"></script>

    <script src="~/Scripts/croppie.js"></script>
    <script src="~/Scripts/mineCrop.js"></script>

    <script>

        $('#Account').focusout(function () {
            $.post("/Player/PlayerAccountRepeatCheck", { account: $(this).val() }, function (data) {
                if (data == 'true') {
                    $('#Account').css('border-color', 'red');
                    $('#AccountCheck').text('此帳號已被使用');
                } else {
                    $('#Account').css('border-color', '#ced4da');
                    $('#AccountCheck').text('');
                    return;
                }
            })
        })





    </script>
}