@model IEnumerable<TGIS.Models.Announcement>


<table class="table table-bordered text-center mb-4">
    <tr class="table-primary">
        <th width="17%">
            @Html.DisplayNameFor(model => model.AnnouncedDate)
        </th>
        <th width="71%">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th width="12%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnnouncedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("查看更多", "AnnouncementDetailForPlayer", new { annID = item.ID }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>
