@model IEnumerable<TGIS.Models.Announcement>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnnouncedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnnouncedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Details", "AnnounDetail", new { id=item.ID }) |
        </tr>
}

</table>
