@model IEnumerable<TGIS.Models.Announcement>

@{
    ViewBag.Title = "公告列表";
}
    <div class="ml-2 mr-2">
        <div class="row">
            <h2>公告列表</h2>
            @Html.ActionLink("發佈新公告", "CreateAnnoun",null,new { @class = "btn btn-info" })
        </div>
        <table class="table text-center table-hover">
            <tr class="table-manager border-0">
                <th>
                    @Html.DisplayNameFor(model => model.AnnouncedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Administrator.Account)
                </th>
                <th>
                    管理
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnnouncedDate)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Administrator.Account)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "EditAnnoun", new { id = item.ID }) |
                        @Html.ActionLink("查看更多", "AnnounDetail", new { id = item.ID }) |
                        @Html.ActionLink("刪除", "AnnounDel", new { id = item.ID }, new { onclick = "return confirm('確定要刪除嗎?')"})
                    </td>
                </tr>
            }

        </table>
    </div>