@model IEnumerable<TGIS.Models.TableGameInShopDetail>


    <div class="row text-center m-3 pb-3 border-bottom">
        <div class="col-4">@Html.DisplayNameFor(model => model.TableGame.ChineseName)</div>
        <div class="col-4">@Html.DisplayNameFor(model => model.TableGame.EnglishName)</div>
        <div class="col-4">@Html.DisplayNameFor(model => model.Price)</div>
    </div>
    @foreach (var item in Model)
    {
        <a href="@Url.Action("ShowTableGameDetail", "TableGame", new { tableGameID=item.TableGameID})" class="row text-info text-center m-3">
            <div class="col-4">

                @Html.DisplayFor(modelItem => item.TableGame.ChineseName)

            </div>
            <div class="col-4">

                @Html.DisplayFor(modelItem => item.TableGame.EnglishName)

            </div>
            <div class="col-4">
                @if (item.IsSale)
                {
                    @Html.DisplayFor(modelItem => item.Price)
                }
                else
                {
                    @: 無販售
                }
            </div>
        </a>
    }


