@using TGIS.Models;
@model IEnumerable<TGIS.Models.TableGameComment>

@{
    ViewBag.Title = "評論管理";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2 class="ml-1">評論管理</h2>

<table class="table text-center table-hover  mr-3">
    <tr class="table-manager border-0">
        <th>
            @Html.DisplayNameFor(model => model.CommentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player.NickName)
        </th>
        <th>
            桌遊名稱
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHidden)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a href="@Url.Action("PlayerEdit", "Player", new { playerID = item.PlayerID})" class="text-info">@UsefulTools.GetUserNameByID(item.PlayerID)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableGame.ChineseName)
            </td>
            <td>
                @if (!item.IsHidden)
                {
                    @Html.ActionLink("隱藏", "HideTGComment", new { commentID = item.ID }, new { @class = "btn btn-danger", onclick="return confirm('確定要隱藏該評論嗎？\\n此操作無法復原')" })
                }
                else
                {
                    @: 已隱藏
                }
            </td>
</tr>
    }

</table>
