@using TGIS.Models;
@model IEnumerable<TGIS.Models.Message>

@{
    ViewBag.Title = "揪桌訊息";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>@ViewBag.TeamTitle</h2>
<h3>對話訊息紀錄</h3>
<br />
<table class="table text-center table-hover mr-3">
    <tr class="table-manager border-0">
        <th width="10%">
            @Html.DisplayNameFor(model => model.MessageDate)
        </th>
        <th width="15%">
            @Html.DisplayNameFor(model => model.Speaker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageDate)
        </td>
        <td>
            @if (item.Speaker.StartsWith("TP"))
            {
                @Html.ActionLink(UsefulTools.GetUserNameByID(item.Speaker), "PlayerEdit", "Player", new { playerID = item.Speaker }, new { @class = "text-info" })
            }
            else
            {
                @Html.ActionLink(UsefulTools.GetUserNameByID(item.Speaker), "MgShopEdit", "Shop", new { id = item.Speaker }, new { @class = "text-info" })
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
    </tr>
}

</table>
