@model IEnumerable<TGIS.Models.Message>

@{
    ViewBag.Title = "MessageIndex";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>@ViewBag.TeamTitle</h2>
<h3>訊息總覽</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speaker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageDate)
        </td>
        <td>
            @if (item.Speaker.StartsWith("TP"))
            {
                @Html.ActionLink(item.Speaker, "PlayerEdit", "Player", new { playerID = item.Speaker }, new { @class = "text-info" })
            }
            else
            {
                @Html.ActionLink(item.Speaker, "MgShopEdit", "Shop", new { id = item.Speaker }, new { @class = "text-info" })
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @if (item.IsPrivate)
            {
                @: 私人
            }
            else
            {
                @: 公開
            }
        </td>
    </tr>
}

</table>
