@using TGIS.Models

@{
    ViewBag.Title = "歡迎";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
    //輪播圖要用的資料
    var coupons = (List<Coupon>)ViewBag.Coupons;
    var offers = (List<NormalOffer>)ViewBag.Offers;
    int totalCount = coupons.Count + offers.Count;
    string firstImage = "active";
}
<head>
    <script src="https://kit.fontawesome.com/5d5bcaa2bc.js" crossorigin="anonymous"></script>
    <link href="~/Content/WebSearch.css" rel="stylesheet" />
    <style>
        .listbutton {
            font-size: 80px;
        }

        .three-d {
            padding: 10px;
            box-shadow: inset #000000 3px 3px 15px 3px;
            border-radius: 40%;
        }

        .abc {
            box-shadow: #000000 3px 3px 5px 1px;
            border-radius: 10%;
        }
    </style>
</head>
<div id="carouselExampleIndicators" class="carousel slide mb-4" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < totalCount; i++)
        {
            if (i == 0)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            }
            else
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
            }
        }
    </ol>
    <div class="carousel-inner ">
        @foreach (Coupon c in coupons)
        {
            <div class="carousel-item @firstImage">
                <a href="@Url.Action("ShopDetailForPlayer", "Shop", new { id = c.ShopID})">
                    <img src="@Url.Action("GetPhotoBySourceID", "Photo", new { sourceID = c.ID, index = 0})" class="d-block w-100">
                </a>
            </div>
            firstImage = "";
        }
        @foreach (NormalOffer o in offers)
        {
            <div class="carousel-item @firstImage">
                <a href="@Url.Action("OfferDetail", "NormalOffer", new { normalOfferID = o.ID})">
                    <img src="@Url.Action("GetPhotoBySourceID", "Photo", new { sourceID = o.ID, index = 0})" class="d-block w-100">
                </a>
            </div>
            firstImage = "";
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
<div class="row">
    <div class="col-md-3 m-2 text-center">

        <div id="TGSearchResult">
            <a href="@Url.Action("ShowTableGameListForPlayer", "TableGame")" class="text-info listbutton"><i class="fas fa-dice-five"></i></a>
            <input id="GameSearch" type="search" placeholder="搜尋想找的桌遊" class="form-control" aria-label="search" /> 
            <div id="TGResultList"></div>
        </div>

        <div id="ShopSearchResult">
            <a href="@Url.Action("ShopIndexForPlayer", "Shop")" class="text-info listbutton"><i class="fas fa-chess-rook "></i></a>
            <input id="ShopSearch" type="search" placeholder="搜尋想找的店家" class="form-control" aria-label="search" />
            <div id="ShopResultList"></div>
        </div>

    </div>
    <div class="col-md-8 m-1">
        <h3><strong><a href="@Url.Action("AnnouncementIndexForPlayer", "Announcement")">網站公告</a></strong></h3>
        @Html.Action("_AnnouncementPartail", "Announcement", new { number = 5 })
        <hr />
        <h3>
            <strong>@Html.ActionLink("～揪桌一起玩～", "GetTeamList", "Team", new { usage = "TeamIndex" }, new { })</strong>
        </h3>
        @Html.Action("GetTeamList", "Team", new { usage = "Home" })
    </div>
</div>

@section scripts{
    <script src="~/Scripts/WebSearch.js"></script>
}