@model TGIS.Models.Administrator

@{
    ViewBag.Title = "帳密管理";
}

<h2>新增管理員</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />

    <div class="form-group row">
        @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control w-50" } })
            @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control w-50" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.Label("確認密碼", new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.Password("pwdConfirm", null, new { @class = "form-control w-50" })
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="新增" class="btn btn-primary " />
        @Html.ActionLink("回到列表", "AdminIndex", null, new { @class = "btn btn-secondary" })
    </div> 
</div>
}


@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
