@model TGIS.Models.Administrator

@{
    ViewBag.Title = "更改管理員密碼";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
    <h2>
        更改管理員密碼
        <small class="text-muted">@Model.ID</small>
    </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="form-group row">
            @Html.Label("目前密碼", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control w-50", @readonly="readonly" } })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("新密碼", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.Password("pwd", null, new { @class = "form-control w-50" } )
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("確認新密碼", new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.Password("pwdConfirm", null, new { @class = "form-control w-50" })
            </div>
        </div>
        <div class="form-group">          
                <input type="submit" value="確定" class="btn btn-primary " />
                @Html.ActionLink("回到列表", "AdminIndex", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}


@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
