@model IEnumerable<TGIS.Models.Administrator>

@{
    ViewBag.Title = "帳密管理";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
    <div class="mr-3">
        <div class="row d-flex justify-content-between ml-2">
            <h2>管理員列表</h2>
            @Html.ActionLink("新增管理員", "AdminCreate", null, new { @class = "btn btn-info mt-1 mb-1 mr-2" })
        </div>
        <br />
        <table class="table text-center table-hover ml-2">
            <tr class="table-manager border-0">
                <th>
                    @Html.DisplayNameFor(model => model.Account)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.ActionLink("更改密碼", "AdminChangePassword", new { adminID = item.ID }, new { @class = "btn btn-secondary" })
                        @Html.ActionLink("刪除", "AdminDelete", new { adminID = item.ID }, new { @class = "btn btn-danger", onclick = "return confirm('確定要刪除該管理員嗎？')" })
                    </td>
                </tr>
            }

        </table>
    </div>
@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}