<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 有桌方遊</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/layoutstyle-P.css" rel="stylesheet" />
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/5d5bcaa2bc.js" crossorigin="anonymous"></script>
    @RenderSection("CSS", false)
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-player">
        <a class="navbar-light bg-player" href="@Url.Action("Index", "Home")">
            <h3>有桌方遊</h3>
        </a>
        <div class="collapse navbar-collapse" id="P-navbar">
            <div class="navbar-nav mr-auto"> </div>
            <a class="nav-link" href="@Url.Action("Logout","Login",new { sessionName="PlayerID"})">登出</a>
        </div>
    </nav>
            @RenderBody() 
    <footer class="fixed-bottom bg-player">
        <nav class="navbar navbar-expand-md justify-content-end" id="P-footer">
            <a class="nav-link" href="#">關於我們</a>
            <a class="nav-link" href="#">聯絡我們</a>
        </nav>
    </footer>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>