@using TGIS.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>有桌方遊 - @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/mineCSS.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>


    <style>
        html, body {
            height: 100%;
        }

        .wrap {
            position: relative;
            min-height: 100%;
            box-sizing: border-box;
        }

        * {
            font-family: 'Noto Sans TC', sans-serif;
        }

        header, footer, header a, footer a {
            color: #f9ebe0;
            background-color: #0d2149;
        }

        footer {
            width: 100%;
            position: absolute;
            bottom: -450px;
            padding-bottom: 0;
        }
    </style>


</head>
<body>
    <div class="wrap">

        <header>
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="@Url.Action("ShowTableGameListForAdmin", "TableGame")">有桌方遊</a>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav mr-auto"> </div>
                    @*<form class="form-inline my-2 my-md-0"></form>*@
                    <a class="nav-link" href="#">會員中心</a>
                    @if (Session["PlayerID"] != null)
                    {
                        Player p = new TGISDBEntities().Players.Find((string)Session["PlayerID"]);
                        <a class="nav-link" href="#">@p.NickName</a>
                    }
                    else
                    {
                        <a class="nav-link" href="@Url.Action("LoginForPlayer", "Login")">登入</a>
                    }
                </div>
            </nav>
        </header>

        <div class="container">
            @RenderBody()
        </div>


        <footer>
            <nav class="navbar navbar-expand-md justify-content-end">
                <a class="nav-link" href="#">關於我們</a>
                <a class="nav-link" href="#">聯絡我們</a>
            </nav>
        </footer>

    </div>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>