<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 有桌方遊</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/layoutstyle-P.css" rel="stylesheet" />
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/5d5bcaa2bc.js" crossorigin="anonymous"></script>
    @RenderSection("CSS", false)
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-player">
        <a class="navbar-brand " href="@Url.Action("Index", "Home")">
            <h3>有桌方遊</h3>
        </a>
        <div class="collapse navbar-collapse" id="P-navbar">
            <div class="navbar-nav mr-auto"> </div>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control mr-sm-2" type="search" placeholder="請輸入關鍵字" aria-label="search" />
                <button class="btn btn-outline-search my-2 my-sm-0" type="submit">搜尋</button>
            </form>
            <a class="nav-link" href="#">會員中心</a>
            <a class="nav-link" href="@Url.Action("Logout","Login",new { id="PlayerID"})">登出</a>
        </div>
    </nav>
    @* 後續補效果:hover時有框,邊框圓角,加半透明底,標籤顏色調整成底色 離navbar再遠一些  *@
    <div class="container mt-2">
        <div id="sidebar">@* view完成後再調整分頁連結 *@
            <ul class="nav nav-tabs">
                <li class="nav-item ">
                    @*因為圖標放在a標籤裡面,跟上面不同,要改用Url.Action設定連結*@
                    <a href="#" class="nav-link nav-p active">
                        <i class="fas fa-user-edit"></i>
                        <span>&nbsp;個人資料管理</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-money-bill-wave"></i>
                        <span>&nbsp;點數與優惠券管理</span>
                    </a>
                </li>       
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-door-open"></i>
                        <span>我的揪桌</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">我參與的桌</a>
                        <a class="dropdown-item" href="#">我開的桌</a>
                    </div>
                </li>
            </ul>

            @*<a href="#" class="btn btn-light ">進行開桌</a>*@

        </div>
        <div class="body-content">
            @RenderBody()
        </div>
    </div>
    <footer class="fixed-bottom bg-player">
        <nav class="navbar navbar-expand-md justify-content-end" id="P-footer">
            <a class="nav-link" href="#">關於我們</a>
            <a class="nav-link" href="#">聯絡我們</a>
        </nav>
    </footer>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("Script", false)
</body>    
</html>
