<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>有桌方遊 - @ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/FrontStyle.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    @* 背景圖來源:
        <a href="https://pngtree.com/free-backgrounds">free background photos from pngtree.com</a>
        <a href="https://pngtree.com/free-backgrounds">free background photos from pngtree.com</a>
    *@
</head>

<body class="desk">
    <header>
        <nav class="navbar fixed-top headnav ">
                <a class="navbar-brand text-info" href="@Url.Action("ShowTableGameListForAdmin", "TableGame")"><stong>有桌方遊</stong></a>
                <form class="form-inline ml-auto justify-content-end mr-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="請輸入關鍵字" aria-label="search" />
                    <button class="btn navbar-btn btn-outline-info my-2 my-sm-0" type="submit">搜尋</button>
                </form>
                <div class="nav-item ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#centerP" aria-controls="centerP" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="~/images/dog.jpg" alt="測試玩家" width="60" height="60" />
                    </button>
                    @*<a class="nav-link ml-3 text-info justify-content-end" href="@Url.Action("LoginForPlayer", "Login")">登入</a>*@
                </div>
                    <div class="navbar-collapse collapse" id="centerP">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">個人資料管理 </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">點數與優惠券管理</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">我的揪桌</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item" href="#">我參與的桌</a>
                                    <a class="dropdown-item" href="#">我開的桌</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Logout","Login",new {id="PlayerID" })">登出</a>
                            </li>
                        </ul>
                    </div>
</nav>
    </header>
    <div class="Frostedglass">
        <div class="OuterBox">
            <div class="lightA">
                <div class="gap">
                    <div class="innerBox">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="rounded-bottom footnav">
        <nav class="navbar navbar-expand-md justify-content-end">
            <a class="nav-link" href="#">關於我們</a>
            <a class="nav-link" href="#">聯絡我們</a>
        </nav>
    </footer>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>