@using TGIS.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>有桌方遊 - @ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/FrontStyle.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5d5bcaa2bc.js" crossorigin="anonymous"></script>
    @RenderSection("CSS", false)
    @* 背景圖來源:
        <a href="https://pngtree.com/free-backgrounds">free background photos from pngtree.com</a>
        <a href="https://pngtree.com/free-backgrounds">free background photos from pngtree.com</a>
    *@
</head>

<body class="desk">
    <header>
        <nav class="navbar fixed-top headnav">
            <a class="navbar-brand text-info" href="@Url.Action("Index", "Home")">
                <h3>
                    <stong>有桌方遊</stong>
                </h3>
            </a>
            <a class="navbar-brand text-danger text-left" href="@Url.Action("ShowTableGameListForAdmin", "TableGame")">
                <p>
                    <stong>管理員介面點此進入(暫時通道)</stong>
                </p>
            </a>

            <div class="nav-item ">
                @if (Session["PlayerID"] != null)
                {
                    Player p = new TGISDBEntities().Players.Find((string)Session["PlayerID"]);

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#centerP" aria-controls="centerP" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="@Url.Action("GetPhotoBySourceID", "Photo", new { sourceID = p.ID, index = 0 })" width="60" height="60" class="playericon" />
                    </button>
                }
                else
                {
                    <div>
                        <a class="btn btn-outline-info" href="@Url.Action("PlayerCreate", "Player")">註冊</a>
                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#loginModal" id="loginBtn">
                            登入
                        </button>
                    </div>
                }
            </div>
        </nav>
        <div class="navbar-collapse collapse text-right row fixed-top pmenu" id="centerP">
            <div class="flex-fill"></div>
            <div class="pmenulist">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("PlayerDetail", "Player")">我的個人資訊</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("MyPoints", "PlayerPointDetail")">我的點數</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("MyCoupons", "PlayerCouponDetail")">我的優惠券</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("MyTeam", "Team")">我的揪桌</a>
                    </li>          
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" id="logoutBtn">登出</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="Frostedglass">
        <div class="OuterBox">
            <div class="lightA">
                <div class="gap">
                    <div class="innerBox">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="rounded-bottom footnav">
        <nav class="navbar navbar-expand-md justify-content-end">
            <a class="nav-link text-info" href="@Url.Action("AboutUs", "Feedback")">關於我們</a>
            <a class="nav-link text-info" href="@Url.Action("ContactUs", "Feedback")">聯絡我們</a>
        </nav>
    </footer>

    <!-- 登入的跳出窗 -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">選擇你的身分</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-TG nav-fill" id="LoginTab" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link active" id="player-tab" data-toggle="tab" href="#player" role="tab" aria-controls="player" aria-selected="true">玩家</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="shoper-tab" data-toggle="tab" href="#shoper" role="tab" aria-controls="shoper" aria-selected="false">店家</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active bg-white p-3 border-login" id="player" role="tabpanel" aria-labelledby="player-tab">
                            <div class="row m-3">
                                <span class="w-25 mt-1">帳&emsp;&emsp;&emsp;號：</span>
                                <input id="PlayerAccount" type="text" name="account" class="form-control w-75" />
                            </div>
                            <div class="row m-3 ">
                                <span class="w-25 mt-1">密&emsp;&emsp;&emsp;碼：</span>
                                <input id="PlayerPwd" type="password" name="pwd" class="form-control w-75" />
                            </div>
                            <button id="PlayerLogin" type="button" class="btn btn-outline-info ml-1">登入</button>
                            <button type="button" class="btn btn-sm btn-link float-right mt-1  mr-1">@Html.ActionLink("忘記密碼", "ForgetPwd","Login")</button>
                        </div>
                        <div class="tab-pane fade bg-white p-3 border-login" id="shoper" role="tabpanel" aria-labelledby="shoper-tab">
                            <div class="row m-3">
                                <span class="w-25 mt-1">帳&emsp;&emsp;&emsp;號：</span>
                                <input id="ShopAccount" type="text" name="account" class="form-control w-75" />
                            </div>
                            <div class="row m-3 ">
                                <span class="w-25 mt-1">密&emsp;&emsp;&emsp;碼：</span>
                                <input id="ShopPwd" type="password" name="pwd" class="form-control w-75" />
                            </div>
                            <button id="ShopLogin" type="button" class="btn btn-outline-info ml-1">登入</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <span class="text-danger" id="error"></span>
                </div>
            </div>
        </div>
    </div>

    @* 渲染出訊息框 *@
    @Html.Action("TeamChatBox", "Home")

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script>
        $('#PlayerLogin').click(function () {
            $.post(
                "/Login/LoginForPlayer",
                { account: $('#PlayerAccount').val(), pwd: $('#PlayerPwd').val() },
                function (state) {
                    switch (state) {
                        case "1":
                            $("#error").empty().text("帳號密碼錯誤")
                            break;
                        case "2":
                            alert("登入成功")
                            location.reload();
                    }
                }
            )
        })
        $('#ShopLogin').click(function () {
            $.post(
                "/Login/LoginForShop",
                { account: $('#ShopAccount').val(), pwd: $('#ShopPwd').val() },
                function (state) {
                    switch (state) {
                        case "1":
                            $("#error").empty().text("帳號密碼錯誤")
                            break;
                        case "2":
                            alert("登入成功")
                            location.assign("@Url.Action("ShopDetailForStore", "Shop")")
                            break;
                    }
                }
            )
        })

        //點擊登出鈕
        $("#logoutBtn").click(function () {
            $.post("/Login/LogoutWithoutRedirect", null, function () {
                //重新整理頁面
                location.reload();
            })
        })
    </script>
    @RenderSection("scripts", false)
</body>
</html>
