<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 有桌方遊</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/layoutstyle-P.css" rel="stylesheet" />
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/5d5bcaa2bc.js" crossorigin="anonymous"></script>
    @RenderSection("CSS", false)
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-player">
        <a class="navbar-light bg-player" href="@Url.Action("Index", "Home")">
            <h3>有桌方遊</h3>
        </a>
        <div class="collapse navbar-collapse" id="P-navbar">
            <div class="navbar-nav mr-auto"> </div>
            <a class="nav-link" href="@Url.Action("Logout","Login",new { sessionName="PlayerID"})">登出</a>
        </div>
    </nav>
    @{ 
        //判斷現在頁面
        string personalData = "", myPoints = "", myCoupon = "", myTeam = "";
        string nowPage = (string)Session["nowPage"];
        if (nowPage == "personalData")
        {
            personalData = "active";
        }
        else if (nowPage == "myPoints")
        {
            myPoints = "active";
        }
        else if (nowPage == "myCoupon")
        {
            myCoupon = "active";
        }
        else
        {
            myTeam = "active";
        }
    }
    <div class="container mt-4">
        <div id="sidebar">
            <ul class="nav nav-tabs">
                <li class="nav-item ">
                    <a class="nav-link nav-p @personalData" href="@Url.Action("PlayerDetail", "Player", new { playerID = (string)Session["PlayerID"]})">
                        <i class="fas fa-user-edit"></i>
                        <span>&nbsp;我的個人資訊</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-p @myPoints" href="@Url.Action("MyPoints", "PlayerPointDetail")">
                        <i class="fas fa-money-bill-wave"></i>
                        <span>&nbsp;我的點數</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-p @myCoupon" href="@Url.Action("MyCoupons", "PlayerCouponDetail")">
                        <i class="fas fa-money-bill-wave"></i>
                        <span>&nbsp;我的優惠券</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-p @myTeam" href="@Url.Action("MyTeam", "Team")">
                        <i class="fas fa-door-open"></i>
                        <span>我的揪桌</span>
                    </a>
                </li>
            </ul>
        </div>
        @RenderBody()
    </div>
    <footer class="fixed-bottom bg-player">
        <nav class="navbar navbar-expand-md justify-content-end" id="P-footer">
            <a class="nav-link" href="#">關於我們</a>
            <a class="nav-link" href="@Url.Action("ContactUs", "Feedback")">聯絡我們</a>
        </nav>
    </footer>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>