<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 有桌方遊</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link href="~/Content/layoutstyle-M.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/5d5bcaa2bc.js" crossorigin="anonymous"></script>
    @RenderSection("CSS", false)
</head>
<body class="wrapper">
    <aside id="sidebar">
        <div class="sidebar-header">
            @*皆連回管理中心首頁*@
            <strong>@Html.ActionLink("TG", "ShowTableGameListForPlayer"," TableGame")</strong>  
            <span class="h1">
                @Html.ActionLink("有桌方遊", "Index", "Home")
            </span>
            <button type="button" id="sidebarCollapse" class="btn navbar-btn btn-info">
                <i class="fas fa-align-justify"></i>
            </button>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="@Url.Action("AnnouncementIndexForAdmin","Announcement")">
                    <i class="fas fa-chalkboard"></i>
                    <span>公告管理</span>
                </a>
            </li>
            <li>
                <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="toggle dropdown-toggle">
                    <i class="fas fa-user "></i>
                    <span>&nbsp;&nbsp;帳密管理</span>
                </a>
                <ul class="collapse list-unstyled" id="accountSubmenu">
                    <li>
                        <a href="@Url.Action("PlayerIndex","player")">玩家</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ShopIndex","Shop")">店家</a>
                    </li>
                    <li>
                        <a href="#">管理員</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CityIndex", "City")">行政區資料管理</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#gameSubmenu" data-toggle="collapse" aria-expanded="false" class="toggle dropdown-toggle">
                    <i class="fas fa-dice"></i>
                    <span>桌遊管理</span>
                </a>
                <ul class="collapse list-unstyled" id="gameSubmenu">
                    <li>
                        <a href="@Url.Action("ShowTableGameListForAdmin","TableGame")">桌遊資訊</a>
                    </li>
                    <li>
                        <a href="#">標籤列表</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="@Url.Action("GetTeamListForAdmin", "Team")" >
                    <i class="fas fa-users"></i>
                    <span>揪桌管理</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("ReturnList","Feedback")">
                    <i class="fas fa-envelope"></i>
                    <span>&nbsp;回報管理</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("TGCommentIndexForAdmin", "TGComment")">
                    <i class="fas fa-comment-alt"></i>
                    <span>&nbsp;評論管理</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("CouponIndexForAdmin", "Coupon")">
                    <i class="fas fa-gift"></i>
                    <span>&nbsp;優惠券管理</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>&nbsp;登出</span>
                </a>
            </li>
        </ul>
    </aside>
    <div id="content">
        <nav class="navbar navbar-light bg-light container-fluid justify-content-end">
            <strong class="navbar-brand ">後台管理中心</strong>
        </nav>
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/_LayoutManager.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
