@model IEnumerable<TGIS.Models.NormalOffer>


<div class="row text-center m-3 pb-3 border-bottom">
    <div class="col-4">@Html.DisplayNameFor(model => model.Title)</div>
    <div class="col-4">@Html.DisplayNameFor(model => model.BeginDate)</div>
    <div class="col-4">@Html.DisplayNameFor(model => model.EndDate)</div>
</div>
@foreach (var item in Model)
{
    <a href="@Url.Action("OfferDetail","NormalOffer", new { normalOfferID = item.ID })" class="row text-info text-center m-3">
        <div class="col-4">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        <div class="col-4">
            @Html.DisplayFor(modelItem => item.BeginDate)
        </div>
        <div class="col-4">
            @Html.DisplayFor(modelItem => item.EndDate)
        </div>       
    </a>
}
