@model IEnumerable<TGIS.Models.NormalOffer>

@{
    ViewBag.Title = "活動列表";
}
<div class="row m-3 d-flex justify-content-between">
    <h2>廣告列表</h2>
    @Html.ActionLink("新增一筆活動", "OfferCreate", null ,new { @class = "btn btn-info pt-2" })
</div>

<table class="table table-sm table-bordered table-hover shadow ">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clicks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="align-middle w-50">
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.BeginDate)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Clicks)
                </td>
                <td class="text-center">
                    @Html.ActionLink("編輯", "OfferEdit", new { normalOfferID = item.ID }, new { @class = "btn btn-primary" })
                    @*@Html.ActionLink("刪除", "OfferDel", new { normalOfferID = item.ID }, new { @class = "btn btn-danger" onclick="return confirm('確定要刪除嗎?')" })*@
                </td>
            </tr>
        }
    </tbody>
</table>
