@model IEnumerable<TGIS.Models.NormalOffer>

@{
    ViewBag.Title = "活動列表";
}

    <h2>活動列表</h2>

<p>
    @Html.ActionLink("新增一筆活動", "OfferCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clicks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop.Account)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clicks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shop.Account)
        </td>
        <td>
            @Html.ActionLink("編輯", "OfferEdit", new { normalOfferID=item.ID }) |
            @Html.ActionLink("刪除", "OfferDel", new { normalOfferID=item.ID })
        </td>
    </tr>
}

</table>
