@model TGIS.Models.NormalOffer

@{
    ViewBag.Title = "OfferDetail";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
    int count = 0;
}

    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <h5>@Html.DisplayFor(model => model.Shop.ShopName)</h5>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clicks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clicks)
        </dd>

    </dl>

    <div>
        <p>活動圖片</p>
        @* active是方便做成跑馬燈 *@
        @foreach (int id in ViewBag.photoIDList)
        {
            string active = count == 0 ? "active" : "";
            <div class="carousel-item @active">
                <img src="@Url.Action("GetPhotoByID", "Photo", new { photoID=id })"  />
            </div>
            count = 1;
        }
    </div>
</div>
<p>
    @Html.ActionLink("返回", "ShopDetailForPlayer", "Shop", new { id = (string)ViewBag.ShopID }, null)
</p>
