@model TGIS.Models.NormalOffer

@{
    ViewBag.Title = "活動資訊";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
    int count = 0;
}
    <div class="d-flex justify-content-sm-between ">
        <div>
            <span class="h1">@Html.DisplayFor(model => model.Title)</span>
            <span class="text-muted">@Html.DisplayFor(model => model.Shop.ShopName)</span>
        </div>
        @Html.ActionLink("返回店家資訊", "ShopDetailForPlayer", "Shop", new { id = (string)ViewBag.ShopID }, new { @class = "mt-4 text-info" })
    </div>
<hr />

    <dl class="row">
        <dt class="col-1">優惠內容</dt>
        <dd class="col-6">@Html.DisplayFor(model => model.Content)</dd>
    </dl>
    <dl class="row">
        <dt class="col-1">優惠期間</dt>
        <dd class="col-6">@Html.DisplayFor(model => model.BeginDate) &nbsp;～&nbsp;@Html.DisplayFor(model => model.EndDate)</dd>
    </dl>
    <dl class="row">
        <dt class="col-1">活動圖片</dt>
        <dd class="col-6">
            @* active是方便做成跑馬燈,應該要張數限制取消跑馬燈 *@
                @foreach (int id in ViewBag.photoIDList)
                {
                    string active = count == 0 ? "active" : "";
                    <div class="carousel-item w-100 @active">
                        <img src="@Url.Action("GetPhotoByID", "Photo", new { photoID=id })" class="img-fluid" />
                    </div>
                    count = 1;
                }
            </dd>
    </dl>
    


