@using TGIS.Models
@model IEnumerable<Team>

<tr>
    <td colspan="11" class="text-info">@ViewBag.teamType</td>
</tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipateEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.Raw(item.PlayPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedCost)
        </td>
        <td>
            @{
                TableGame tg = new TGISDBEntities().TableGames.Find(item.Preference);
                string preferenceDisplay = tg == null ? "不限" : tg.ChineseName;
            }
            @preferenceDisplay
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaderPlayer.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shop.ShopName)
        </td>
        <td>
            @Html.ActionLink("Details", "TeamDetailForPlayer", new { teamID = item.ID })
        </td>
    </tr>
}
