@model IEnumerable<TGIS.Models.Team>

@{
    ViewBag.Title = "揪桌管理";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>揪桌列表</h2>
<br />
<table class="table text-center table-hover ml-3 ">
    <tr class="table-manager border-0">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipateEndDate)
        </th>
        <th>
            活動時間
        </th>
        <th>
            開團者
        </th>
        <th>
            遊玩店家
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preference)
        </th>
        <th>
            成團人數
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedCost)
        </th>
        <th>
            取消
        </th>
        <th>
            提早結團
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ParticipateEndDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PlayDate)<br />
        @Html.DisplayFor(modelItem => item.PlayBeginTime) ~ @Html.DisplayFor(modelItem => item.PlayEndTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LeaderPlayer.Account)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Shop.Account)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Preference)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MinPlayer) ~ @Html.DisplayFor(modelItem => item.MaxPlayer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EstimatedCost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsCanceled)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsClosed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Notes)
    </td>
    <td>
        @Html.ActionLink("訊息", "MessageIndex", "Message", new { teamID = item.ID }, new { @class = "btn btn-info" })
    </td>
</tr>
}

</table>
