@model IEnumerable<TGIS.Models.Team>

@{
    string usage = (string)ViewBag.usage;
    string playerID = (string)Session["PlayerID"];
    if (usage == "TeamIndex")
    {
        ViewBag.Title = "TeamIndex";
        Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
    }
}

@if (usage == "TeamIndex")
{
    <h2>Teams</h2>
    @Html.ActionLink("Create a New Team", "TeamCreate")
}
<table class="table table-bordered text-center">
    <thead >
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop.ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @if (usage == "TeamIndex" || usage == "Home")
            {
                <th>
                    @Html.DisplayNameFor(model => model.ParticipateEndDate)
                </th>
            }
            @if (usage == "TeamIndex" || usage == "Other")
            {
                <th>
                    開團者
                </th>
            }
            @if (usage == "Leader")
            {
                <th>
                    @Html.DisplayNameFor(model => model.CurrentPlayers) / @Html.DisplayNameFor(m => m.PlayerLimit)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.Raw(item.PlayPeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop.ShopName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @if (usage == "TeamIndex" || usage == "Home")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ParticipateEndDate)
                    </td>
                }
                @if (usage == "TeamIndex" || usage == "Other")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaderPlayer.NickName)
                    </td>
                }
                @if (usage == "Leader")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentPlayers) / @item.PlayerLimit
                    </td>
                }
                <td>
                    @if (!item.IsExpired)
                    {
                        if (usage == "Leader")
                        {
                            //滿足最小人數才出現提早結團按鈕
                            if (item.CurrentPlayers >= item.MinPlayer)
                            {
                                <form action="@Url.Action("TeamDetailForPlayer")" method="post">
                                    <input type="hidden" name="teamID" value="@item.ID" />
                                    <input type="hidden" name="action" value="close" />
                                    <input type="hidden" name="playerID" value="@playerID" />
                                    <input type="hidden" name="fromMyTeam" value="true" />
                                    <input type="submit" class="btn btn-success mb-1" value="提早結團" onclick="return confirm('確定要提早結團嗎?')"/>
                                </form>
                            }
                            //取消出團按鈕
                            <form action="@Url.Action("TeamDetailForPlayer")" method="post">
                                <input type="hidden" name="teamID" value="@item.ID" />
                                <input type="hidden" name="action" value="cancel" />
                                <input type="hidden" name="playerID" value="@playerID" />
                                <input type="hidden" name="fromMyTeam" value="true" />
                                <input type="submit" class="btn btn-danger mb-1" value="取消此團" onclick="return confirm('確定要關閉此團嗎?')"　/>

                            </form>
                        }
                        else if (usage == "Other")
                        {
                            //退團按鈕
                            <form action="@Url.Action("TeamDetailForPlayer")" method="post">
                                <input type="hidden" name="teamID" value="@item.ID" />
                                <input type="hidden" name="action" value="exit" />
                                <input type="hidden" name="playerID" value="@playerID" />
                                <input type="hidden" name="fromMyTeam" value="true" />
                                <input type="submit" class="btn btn-danger mb-1" value="離開此團" onclick="return confirm('確定要退出嗎?')"/>
                            </form>
                        }
                    }
                    @Html.ActionLink("詳細資訊", "TeamDetailForPlayer", new { teamID = item.ID },new {@class="btn btn-info"})
                </td>
            </tr>
        }
    </tbody>
</table>
