@using TGIS.Models;
@model IEnumerable<TGIS.Models.Team>

@{
    ViewBag.Title = "揪桌管理";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2 class="ml-1">揪桌列表</h2>
<br />
<table class="table text-center table-hover mr-3">
    <tr class="table-manager border-0">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipateEndDate)
        </th>
        <th>
            活動時間
        </th>
        <th>
            開團者
        </th>
        <th>
            遊玩店家
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preference)
        </th>
        <th>
            成團人數
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedCost)
        </th>
        <th>
            取消
        </th>
        <th>
            提早結團
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ParticipateEndDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PlayDate)<br />
        @Html.DisplayFor(modelItem => item.PlayBeginTime) ~ @Html.DisplayFor(modelItem => item.PlayEndTime)
    </td>
    <td>
        @Html.ActionLink(item.LeaderPlayer.NickName, "PlayerEdit", "Player", new { playerID = item.LeaderPlayerID }, new { @class = "text-info"})
    </td>
    <td>
        @Html.ActionLink(item.Shop.ShopName, "MgShopEdit", "Shop", new { id = item.ShopID }, new { @class = "text-info"})
    </td>
    <td>
        @if (item.Preference != null)
        {
            var game = new TGISDBEntities().TableGames.Find(item.Preference);
            @Html.ActionLink(game.ChineseName, "EditTableGame", "TableGame", new { tableGameID = game.ID}, null)
        }
        else
        {
            @: 不限
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MinPlayer) ~ @Html.DisplayFor(modelItem => item.MaxPlayer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EstimatedCost)
    </td>
    <td>
        @if (item.IsCanceled)
        {
            @: 是
        }
        else
        {
            @: 否
        }
    </td>
    <td>
        @if (item.IsClosed)
        {
            @: 是
        }
        else
        {
            @: 否
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Notes)
    </td>
    <td>
        @Html.ActionLink("公開訊息", "MessageIndex", "Message", new { teamID = item.ID, isPrivate = false }, new { @class = "btn btn-info" })
        @Html.ActionLink("私人訊息", "MessageIndex", "Message", new { teamID = item.ID, isPrivate = true }, new { @class = "btn btn-secondary" })
    </td>
</tr>
}

</table>
