@using TGIS.Models
@model IEnumerable<Team>

@{
    ViewBag.Title = "MyTeam";
    Layout = "~/Views/Shared/_LayoutPlayerCenter.cshtml";
    Player player = new TGISDBEntities().Players.Find((string)Session["PlayerID"]);
}

    <div class="container mt-4">
        <div id="sidebar">
            <ul class="nav nav-tabs">
                <li class="nav-item ">
                    <a class="nav-link nav-p" href="@Url.Action("PlayerDetail", "Player", new { playerID = (string)Session["PlayerID"]})">
                        <i class="fas fa-user-edit"></i>
                        <span>&nbsp;個人資料管理</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link nav-p">
                        <i class="fas fa-money-bill-wave"></i>
                        <span>&nbsp;點數與優惠券管理</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-p active" href="@Url.Action("MyTeam", "Team")">
                        <i class="fas fa-door-open"></i>
                        <span>我的揪桌</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="body-content p-4">

            <div class="row justify-content-between m-2">
                <h3>我開的團</h3>
                <p class="">@Html.ActionLink("進行開桌", "TeamCreate", "Team", new { @class = "btn btn-info" })</p>
            </div>

            @Html.Action("GetTeamList", new { usage = "Leader" })
            <div class="row m-2">
                <h3>我參與的團</h3>
            </div>
            @Html.Action("GetTeamList", new { usage = "Other" })

        </div>
    </div>