@model TGIS.Models.Team

@{
    ViewBag.Title = "TeamDetailForPlayer";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}

    <h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ParticipateEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipateEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>


        <dt>
            遊戲時間
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayDate)<br />
            @Model.PlayBeginTime.ToString(@"hh\:mm") 至 @Model.PlayEndTime.ToString(@"hh\:mm")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preference)
        </dd>

        <dt>
           人數
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPlayer) 至 @Html.DisplayFor(model => model.MaxPlayer) 人
        </dd>



        <dt>
            發起人暱稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaderPlayer.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop.ShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop.ShopName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("回到列表", "TeamIndexForPlayer")
</p>


@* 
    參團功能：
    -- 使用者來到桌遊詳細頁面，從session取得其ID
    -- 若此桌並非由此使用者發起且狀態正常(無過期、取消、提早截止)則可以參加或退出
    -- 點擊「參加」，將此使用者加入此團的揪桌人員明細
    -- 點擊「退出」，將此使用者從此團的揪桌人員明細移除
*@