@using TGIS.Models
@model Team

@{
    ViewBag.Title = "新揪一桌";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}

    <h2>新揪一桌</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <input type="hidden" name="ID" value="@ViewBag.teamID" />
        <input type="hidden" name="LeaderPlayerID" value="@(((Player)Session["Player"]).ID)" />
        

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" name="ParticipateBeginDate" value="@DateTime.Now" />
        

        <div class="form-group">
            @Html.LabelFor(model => model.ParticipateEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="datetime-local" name="ParticipateEndDate" id="ParticipateEndDate" class="form-control" />
            </div>
        </div>

        @* 資料表應該必須大改，變成有一欄遊玩日期、開始及結束也各一欄 *@
        <div class="form-group">
            <label class="control-label col-md-2">遊玩日期</label>
            <div class="col-md-10">
                <input type="date" class="form-control" id="playDate"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">開始時間</label>
            <div class="col-md-10">
                <input type="time" class="form-control" id="startTime" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">結束時間</label>
            <div class="col-md-10">
                <input type="time" class="form-control" id="endTime" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinPlayers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinPlayers, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MinPlayers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlayPreference, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlayPreference, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlayPreference, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstimatedCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EstimatedCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EstimatedCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" name="Status" value="convene" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="確定送出" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "TeamIndexForPlayer")
    <button id="testBtn" class="btn btn-warning" >測試</button>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
