@model IEnumerable<TGIS.Models.Team>

@{
    ViewBag.Title = "TeamIndex";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}

<h2>揪桌列表</h2>

<p>
    @Html.ActionLink("新揪一桌", "TeamCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipateEndDate)
        </th>
        <th>
            時間
        </th>
        <th>
            人數
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop.ShopName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipateEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.PlayDate)
            @item.PlayBeginTime.ToString(@"hh\:mm")
            至
            @item.PlayEndTime.ToString(@"hh\:mm")
        </td>
        <td>
            @item.MinPlayer ~ @item.MaxPlayer
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shop.ShopName)
        </td>
        <td>
            @Html.ActionLink("查看", "TeamDetailForPlayer", new { teamID=item.ID }) 
        </td>
    </tr>
}

</table>
