@using TGIS.Models
@model Team

@{
    ViewBag.Title = "TeamDetailForPlayer";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
    //判斷進入此頁面的玩家是否為隊長或其他玩家
    bool isLeader = Model.LeaderPlayerID == (string)Session["playerID"];
    bool isInTeam = Model.OtherPlayers.Any(m => m.ID == (string)Session["playerID"]);
    var db = new TGISDBEntities();
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
@if (isLeader)
{
    <h3 class="text-warning">You're the leader of this team</h3>
}
else if (isInTeam)
{
    <h3 class="text-warning">You have joined this team</h3>
}
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ParticipateEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipateEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>


        <dt>
            When to play
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayDate)<br />
            @Model.PlayBeginTime.ToString(@"hh\:mm") to @Model.PlayEndTime.ToString(@"hh\:mm")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preference)
        </dt>

        <dd>
            @{
                TableGame tg = db.TableGames.Find(Model.Preference);
                if (tg == null)
                {
                    @: Unlimited
                }
                else
                {
                    @Html.ActionLink(tg.ChineseName, "ShowTableGameDetail", "TableGame", new { tableGameID = tg.ID}, new { @class=""})
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(m=>m.PlayerLimit)
        </dt>

        <dd>
            @Html.DisplayFor(m => m.PlayerLimit)
        </dd>



        <dt>
            Leader's Nickname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaderPlayer.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop.ShopName)
        </dt>

        <dd>
            @{ Shop s = Model.Shop;}
            @Html.ActionLink(s.ShopName, "ShopDetailForPlayer", "Shop", new { id = s.ID}, new { @class=""})
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Model.Status
        </dd>
    </dl>
</div>
@{
    string btnInfo = "";
    string action = "";
    string disabled = "";
    //尚未登入
    if (Session["PlayerID"] == null)
    {
        @Html.ActionLink("Log In", "LoginForPlayer", "Login", null, new { @class = "btn btn-primary" })
    }
    //已過期或已提早成團
    else if (Model.IsCanceled || Model.IsClosed)
    {
        //什麼按鈕都沒有
    }
    else if (DateTime.Now > Model.ParticipateEndDate)
    {
        if (isLeader)
        {
            btnInfo = "Create another team";
            action = "restart";
        }
        else
        {
            btnInfo = "Join";
            disabled = "disabled";
        }
    }
    else
    {
        if (isLeader)
        {
            btnInfo = "Cancel this team";
            action = "cancel";
        }
        else if (isInTeam)
        {
            btnInfo = "Exit";
            action = "exit";
        }
        else
        {
            //若已經額滿，則讓功能鈕失效
            disabled = Model.OtherPlayers.Count + 1 >= Model.MaxPlayer ? "disabled" : "";
            btnInfo = "Join";
            action = "join";
        }
        using (Html.BeginForm())
        {
            <input type="hidden" name="teamID" value="@Model.ID" />
            <input type="hidden" name="action" id="action" value="@action" />
            <input type="hidden" name="playerID" value="@Session["PlayerID"]" />
            <button class="btn btn-primary" type="submit" @disabled onclick="return confirm('Are you sure you want to @action this team?')">@btnInfo</button>
            if (isLeader && Model.OtherPlayers.Count + 1 >= Model.MinPlayer)
            {
                <!-- 提前截止的按鈕，按下同時會讓發出的action變為close -->
                <button class="btn btn-secondary" type="submit" onclick="$('#action').val('close'); return confirm('Are you sure you want to @action this team?')">Close this team now</button>
            }
        }
    }

}
<p>
    @Html.ActionLink("Back to list", "TeamIndexForPlayer")
</p>


